[2013-01-20 20:42] juliangruber opened #1 "drop optional args"
Can we make optional arguments really optional? Like options and callbacks?

In C that's not hard and the performance loss should be subliminal. The implementation will grow a but but it will be way more comfortable to use.

[2013-01-20 21:19] Raynos opened #2 "Buffering operations until database is open"
Can we do that trick?

[2013-01-20 21:20] Raynos opened #3 "Iterator#next"
Can it be one callback?

Say instead of end pass null, null, null to the next callback.

This way we won't have a "either one or the other callback gets called" situation.

[2013-01-21 01:28] rvagg opened #6 "Tests"
Currently devoid of tests as they are all in LevelUP. Need to implement a new set just for LevelDOWN.

[2013-01-21 03:53] #2 closed, assigned to nobody

[2013-01-21 07:02] dominictarr opened #7 "Iterator#dispose"
what sort of error can happen in `iterator.dispose(cb)`?

[code]

if there is an error should I try disposing again? do I even care? I don't need the iterator any more,
so as long as it's gone now, that is all I need to know. Could `iterator.dispose()` take no callback?

[2013-02-17 09:29] rvagg opened #8 "store and manage state"
`db.open()` is the only valid operation when a database is not open. `db.open()` must finish before other operations are permitted. `db.close()` must prevent any other operations executing until it's complete at which point you can only run `db.open()` again.

ugh.

[2013-02-22 00:23] rvagg opened #9 "range delete"
dupe of https://github.com/rvagg/node-levelup/issues/23, needs to be done mostly here rather than there.

[2013-02-23 10:42] rvagg opened #11 "auto-cleanup iterators when db is closed"
`iterator.end()` must be called on each iterator, otherwise when you clean up a database you can land in a segfault.

Proposal is to collect `Iterator` instances in the main `Database` instance and when you call `close()` it ends any iterators that haven't already been closed.

[2013-02-24 10:36] dominictarr opened #13 "multiread"
An operation that is like a batch, but for gets, but without the keys being adjacent in order.

I mention this because at campjs @rvagg and I discussed where the boundry between userland and core should be, regarding issues like: https://github.com/rvagg/node-leveldown/issues/9#issuecomment-13922164

We couldn't think of many features that you might want to do in the C binding, but we decided that

[2013-02-24 22:13] kesla opened #15 "Update deps"
Both leveldb & snappy have been updated (leveldb 1.7.0 -> 1.9.0, snappy 1.0.5 -> 1.1.0), compared to the versions bundled in leveldown. What is the routine for upgrading dependencies? E.g. are we only upgrading dependencies on minor-version, or would it be possible to get a dependency upgrade in to 0.1.1?

[2013-02-24 22:36] #15 closed, assigned to nobody

[2013-03-04 03:23] #1 closed, assigned to nobody

[2013-03-04 03:24] #3 closed, assigned to nobody

[2013-03-04 03:25] #6 closed, assigned to nobody

[2013-03-04 06:15] juliangruber opened #16 "port over batch handling from leveled"
To see how it performs in comparison. This would basically do all the batch stuff in C.

[2013-03-06 03:51] dominictarr opened #17 "what about: `Iterator#next(function (err, {key: key, value: value})`"
I'm thinking of using the iterator as a standard api for other things as well,
and returning a single argument would be simpler (and so more useful as a generic api)

Although, I wouldn't want this change if it has any adverse effects on performance.

What do you think?

[2013-03-09 04:53] dominictarr opened #19 "segmentation fault if batch has nully key or value"
I was working a a PR to fix this in levelup, when I realized this was actually a leveldown problem.

[2013-03-11 03:33] #19 closed, assigned to nobody

[2013-03-17 07:18] rvagg opened #22 "reading with wrong encoding from levelup can crash process"
1. create a new db, encoding = utf8
2. stick some stuff in it
3. open it with levelup, encoding = json
4. run a readStream

_crash_

Found by using _lev_ which assumes json encoding by default, on a db that was only utf8. This shouldn't be a way to crash a process.

[2013-03-17 12:19] rvagg opened #23 "Implement GetProperty"
Here's a fun undocumented API that we could expose:

[code]

[2013-03-17 12:22] rvagg opened #24 "Implement CompactRange"
This is pretty hard-core, but if you've know you've been doing some heavy work in a particular (not too big) key range then you could order a compaction of that range rather than waiting for leveldb to get around to the range (it normally works its way sequentially through the key ranges that make up files at each "level").

Might be handy, but it might also be best to wait for someone to request

[2013-03-17 12:24] rvagg opened #25 "Implement DestroyDB"
expose a wrapper for the `DestroyDB` function.

[2013-03-17 12:31] rvagg opened #26 "Implement write_buffer_size option"
Supplied when you open a database; default is 4MB. Controls the size of the memtable (which is backed by the log file). When it reaches this size a compaction into level0 (and higher if the number is big enough) sst files will take place. Can make it faster for inputting large amounts of data in one go.

[2013-03-29 13:51] rvagg opened #27 "Reverse Iterators should 'skip to previous' when start key doesn't exist"
LevelDB only does 'skip to next' when start key doesn't exist but when you want to iterate in reverse you want your start point to be the previous closest key where your actual start doesn't exist.
We can detect and handle this situation for reverse Iterators. Edge case is end-of-database which will cause `!Valid()`.

[2013-03-29 13:52] rvagg opened #28 "Expose direct access to comparator function."
Simple sync API to run the comparator against given inputs. Will be most useful when the comparator is properly swappable.

[2013-03-30 10:05] #22 closed, assigned to nobody

[2013-03-30 11:58] No9 opened #29 "File lock issues in leveldb"
Leveldb tests seem to have problems with file locking
[Full output here](https://gist.github.com/No9/5276430)
db\corruption_test.cc:115: failed: 36 >= 68
db\c_test.cc:243: open: IO error: LockFile /LOCK: Access is denied.
db\db_test.cc:478: IO error: DeleteFile C:\Users\ANTON\AppData\Local\Temp\/db_test/000005.sst: The process cannot access the file because it is being used by another process.

[2013-03-30 12:21] #25 closed, assigned to nobody

[2013-03-30 12:22] #26 closed, assigned to nobody

[2013-04-07 09:51] #27 closed, assigned to nobody

[2013-04-08 01:16] rvagg opened #32 "Don't process close() until current in-flight async ops are complete"
Will involve more tracking like the delete-iterators-on-close work. Each async operation will have to increment a counter when starting and decrement when done, will also need to trigger a possible-close function when done.
Without this, a segfault is possible when you close() while an operation is in-flight.

[2013-04-14 01:12] oren opened #33 "can't install on CentOS 5.8"
npm install levelup errors with:
make: Entering directory `/usr/local/nextgen/groups/node_modules/levelup/node_modules/leveldown/build'
  CXX(target) Release/obj.target/leveldb/deps/leveldb/leveldb-1.9.0/db/builder.o
cc1plus: error: unrecognized command line option "-Wno-unused-but-set-variable"
make: **\* [Release/obj.target/leveldb/deps/leveldb/leveldb-1.9.0/db/builder.o] Error 1

complete log:

[2013-04-22 23:50] max-mapper opened #35 "run test suite in a browser"
I worked a bit today on updating levelidb to implement leveldown in a browser, however I am having a hard time getting the test suite to run easily in a browser

what do you think is the best way to get the leveldown tests to be able to run in a browser easily? put them in a leveldown-protocol module? reimplement the node specific stuff like https://github.com/rvagg/node-leveldown/blob/master/test

[2013-04-30 11:40] kesla opened #36 "Let leveldown use abstract-leveldown"
We could potenitally avoid some logic duplication by letting leveldown use abstract-leveldow.

index.js would then end up with something like this:

[code]

Would it make sense?

[2013-05-07 18:44] dominictarr opened #37 "error if I close while a create read stream is running/started"
this comes in a few flavors,
if you create close before the stream is 'ready',
then it will not have an iterator. (this is probably fixed by my previous commit, that is coming into 0.9)

next, if it happens while the stream is still reading,
readStream tries to call `next()` after `end()`.

I'm gonna get something to eat, and then I'll add a test for this after.

[2013-05-08 23:25] mcollina opened #39 "Crash in 'put' in an unopened database"
I was trying to reproduce the spurious crashes I get, and I found that putting something into a non-opened database leads to a nice segfault on node v0.10.5.

[code]

[2013-05-08 23:50] 19h opened #40 "Implement DeleteObsoleteFiles (Garbage Collection)"

[2013-05-08 23:51] #40 closed, assigned to nobody

[2013-05-16 22:26] trevnorris opened #42 "Change in c++ Buffer api"
Ran across this and wanted to give you a heads up. Once https://github.com/joyent/node/pull/4964 lands there's no more need to access the `Buffer` object via `->handle_` (and actually that won't be available). `Buffer::New()` just returns a new object.

Also, added `Buffer::Use()` which uses the existing `char*` instead of making a copy. Just in case you need it.

[2013-05-17 00:32] rvagg opened #43 "Don't create Persistent handles too early"
Just browsing the code looking for the leak mentioned in https://github.com/rvagg/node-levelup/issues/140 and it occurs to me that there are a bunch of places where we create a `Persistent` handle early and use it to early-return an error. This isn't a common case, you'd have to be doing something like `db.get(undefined)` to trigger this kind of error, but that would still create an unacceptable l

[2013-05-17 15:14] kylegetson opened #44 "memory leak"
This may be related to the previous issue for levelup (https://github.com/rvagg/node-levelup/issues/140), but I get high memory usage when calling db.get() lots of times when the key is not the same each time. In this example, I use a unique key, each exists in the db, when called 5000000 times memory usage goes above 500M within seconds.

https://gist.github.com/kylegetson/5599592

I'm working on

[2013-05-18 05:11] #35 closed, assigned to nobody

[2013-05-18 06:12] #23 closed, assigned to nobody

[2013-05-18 06:12] #43 closed, assigned to nobody

[2013-05-20 05:25] #44 closed, assigned to nobody

[2013-06-15 01:30] youxiachai opened #45 "leveldown@0.6.0 not support windows"
wn\deps\leveldb\leveldb.vcxproj]
leveldb-1.11.0\util\status.cc(22): error C2146: syntax error : missing ';' befo
re identifier 'len2' [C:\sqlite32\node_modules\leveldown\deps\leveldb\leveldb.v
cxproj]
leveldb-1.11.0\util\status.cc(22): error C2086: 'const int uint32_t' : redefini
tion [C:\sqlite32\node_modules\leveldown\deps\leveldb\leveldb.vcxproj]
          leveldb-1.11.0\util\status.cc(21) : se

[2013-06-15 01:56] #45 closed, assigned to nobody

[2013-06-29 13:50] alessioalex opened #46 "Feature request: extract snappy into its own repo"
It would be nice to have snappy as a separate Node module for people to use. It would be even more awesome to be able to use it with streams.
I would do this myself but I'm no C guy.

Thanks

[2013-06-29 14:59] #46 closed, assigned to nobody

[2013-07-01 07:34] #16 closed, assigned to juliangruber

[2013-07-01 07:44] juliangruber opened #47 "can't build on smartos"
gcc version: `4.6.1`

bad output: `make: *** No rule to make target 'Release/obj.target/leveldb/deps/leveldb/leveldb-1.11.0/db/builder.o', needed by 'Release/obj.target/deps/leveldb/leveldb.a'.  Stop.`

version: 0.6.1, version 0.5.0 works!

help! i need somebody, help! not just anybody, help! you know i need @rvagg, help!

[2013-08-13 12:28] dominictarr opened #52 "database corruption"
I've been having some users complain about npmd corrupting the database

https://github.com/dominictarr/npmd/issues/10

do you know if there is any way to reproduce the sorts of database corruption that are repairable?

or any documentation how it happens and what repair does?

[2013-08-15 07:00] #42 closed, assigned to nobody

[2013-08-15 07:01] #39 closed, assigned to nobody

[2013-08-15 07:02] #33 closed, assigned to nobody

[2013-08-15 18:01] #47 closed, assigned to nobody

[2013-08-22 16:58] rickbergfalk opened #55 "Windows memory leak?"
Not entirely sure, but I think there might be a memory leak for leveldown on Windows.

I've been trying to bulk load data into leveldb via batch puts using level on Windows 7. Somewhere between 1.5 and 2 million puts, things come to a halt and the process dies with at out-of-memory fatal exception.

Here's a gist to reproduce the behavior: https://gist.github.com/rickbergfalk/6309444/

[2013-08-22 17:09] KenanSulayman opened #56 "Level doesn't properly work with Unix and msgpack loaded"
~~We're not able to deploy databases created on OSX to servers running same-environment (Node, same modules, same architecture) on CentOS.~~ *Level does not work properly on Unix environments with msgpack loaded though both work standalone.*

It fails horribly: http://f.cl.ly/items/0Y3O200g2d3v1Q0S1R2R/Text%202013.08.22%2019%3A04%3A43.txt.

Any idea?

[2013-09-01 22:00] dominictarr opened #58 "idea for fast bulk inserts"
So, I've heard that it's fastest to insert records in reverse because of the skip list.

This is not how data is normally stored... much more often, it's in the other direction.

But, what if you reversed the comparator?

Then the database would think you are inserting everything in reverse!
So, maybe this would "just work" more often?

Another idea: what if you could make a few optimizations to t

[2013-09-11 14:55] max-mapper opened #60 "latest libuv change breaks leveldown compilation on 0.11 master"
https://github.com/joyent/node/commit/6301613ff57c0be81f9b9e0592ac15b6102daace

works before this, breaks after it

[2013-09-13 08:28] rvagg opened #62 "Use `MakeCallback` when returning to JS"
See https://github.com/joyent/node/pull/5809#discussion_r5518311 for discussion on this. Would explain some odd behaviour I've seen under certain situations in 0.11.

[2013-09-16 13:36] #60 closed, assigned to nobody

[2013-09-17 18:10] glenjamin opened #64 "Unable to build when path has a space in it"
I'm currently on a train, so i'm not able to look into this properly - but I wanted to make a note with what I did.

OS X 10.8.4
npm 1.3.8
Directory name actually had two spaces in it (`~/Google Drive/Stainlessed/Talks/AMQP Workshop/conglomerate`)

[code]

Relevant section of output

[code]

I've since realised that it's a bit daft having this inside my google drive folder, and moved it :)

[2013-09-18 06:17] #64 closed, assigned to nobody

[2013-10-11 03:39] dazoe opened #66 "iterator Seek"
Please expose the iterator's seek and prev methods. Would be nice to be able to seek on an already created iterator.

[2013-10-24 16:13] nickleefly opened #69 "error when installing on osx 10.9"
when I try to install `leveldown` on 10.9, there is error

I also tried compile from leveldb code, also an error there,
does this cause by osx update?
## leveldown log

[code]
## leveldb log

[code]

[2013-10-25 10:54] #69 closed, assigned to nobody

[2013-11-15 21:46] mcollina opened #75 "RocksDB not compiling on OS X"
I know this is a **very** early release.. but these are the errors:

[code]

[2013-11-18 00:09] #62 closed, assigned to nobody

[2013-11-18 17:10] #55 closed, assigned to nobody

[2013-11-21 02:40] KenanSulayman opened #78 "RocksDB compilation fails on Ubuntu (Precise Penguin)"
[code]

[2013-11-28 09:50] dominictarr opened #80 "does the log file have timestamps/sequence numbers?"
And if so, is it possible to access them?

I'm mainly curious at the moment,
thinking about how it might be possible to take modular databases to the next level.

One way of chaining databases is via a log & sequence numbers,
similar to the way that @mikeal does indexes in couchup.

Since leveldb does have a log,
surely it must have log numbers?

It would be interesting to get at the logs directly

[2013-11-28 11:08] juliangruber opened #81 "benchmarks broken"
* [x] They miss the `optimist` dependency
* [x] `db-bench.js` misses `./random-data`
* [x] `write-random.js` misses `../../lmdb/`
* [x] `write-sorted.js` works

[2013-12-13 16:23] direvius opened #83 "Node leveldown under Ubuntu: undefined symbol error on require"
I have node v0.11.9 installed with nvm under Ubuntu 12.04 precise and leveldown@0.10.2 (compiled without warnings), but when I try to load leveldown I get the following error:

[code]

This question on [stackoverflow](http://stackoverflow.com/questions/20571019/node-leveldown-under-ubuntu-undefined-symbol-error-on-require)

[2013-12-13 16:58] juliangruber opened #84 "LevelDB 1.15"
https://groups.google.com/forum/#!topic/leveldb/VM5nYLvLVME

Revert https://github.com/rvagg/node-leveldown/commit/b3a7793d48b6f2a1f7e19ce82e22ef531e59cb22

Closing and opening the db become important again, I remember us saying "when would you need to do that anyways".

[2013-12-30 21:50] DrYSG opened #86 "node-gyp rebuild error (as part of PouchDB)"
I got this error on a Windows7 machine with the latest version of node-gyp for 64 bit windows machines.

G:\wwwroot\NodeWork\node_modules\pouchdb\node_modules\level\node_modules\leveldown>node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild
npm http GET http://registry.npmjs.org/pouchdb
npm http 200 http://registry.npmjs.org/pouchdb

[2014-01-11 03:00] ggreer opened #87 "Possible LRU cache memory leak when reading from many DBs"
I've run into an issue where if I open and close several thousand leveldbs using levelup, RSS seems to increase without bound. I started to delve into the problem with various tools, and eventually I found that if I set options.cacheSize to 0, the leak goes away.

Here's the result of valgrind on a test run: https://gist.github.com/ggreer/b8d930e1ec5807ddb5ec

The important lines start around 2183

[2014-01-25 00:24] rvagg opened #89 "0.11 tracking"
- #85 Allow saving of empty values
- #88 Fix leak of options attribute
- #84 Upgrade LevelDB to 0.15.0
- Something related to #82 - need to document the forks in the README so when you go to their "homepage" you get information that's actually relevant to the forks
- Remove `-Wno-unused-local-typedefs` from binding.gyp. This is just something I put in there for OCD purposes, the current V8 in mast

[2014-03-03 03:25] #87 closed, assigned to nobody

[2014-03-03 20:24] edrex opened #90 "Avoid unnecessary node-gyp clean on npm install"
From an outside perspective don't see why leveldown should clean/recompile on each depending module `node install` run. I applied the change from Vannevartech/cgal#6 and it seems to work as expected. Not opening a PR since I don't know the tooling well enough to evaluate whether it's a good idea. I also wonder if there is any good reason why the npm/node-gyp default is to clean/rebuild. That seems

[2014-03-04 03:18] #90 closed, assigned to nobody

[2014-03-19 09:31] #75 closed, assigned to nobody

[2014-04-13 11:59] #89 closed, assigned to nobody

[2014-04-19 11:45] MrRhino opened #92 "Installation on os x 10.7.5 ( xcode 4.6.3 ) fails"
When executing the following command:
npm install leveldown

I get these error messages:

make: **\* [Release/leveldb.a] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:267:23)
gyp ERR! stack     at ChildProcess.EventEmitter.emit (events.js:98:17)
gyp ERR

[2014-04-20 14:58] #92 closed, assigned to nobody

[2014-04-30 17:36] michaelAtClearly opened #93 "Error Deploying to Node.ACS servers: Cannot find module. "leveldown". Error: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.14' not found"
Hi,

I was trying to use the module [search-index](https://github.com/fergiemcdowall/search-index), which makes use of node-level to implement a text search for my project.  Every time I deploy to the Node.ACS server I'm hosting on I was getting build errors, which I traced back leveldown.  I then built a project that just required in leveldown to test and got the following when I tried to deploy

[2014-05-05 13:30] #93 closed, assigned to nobody

[2014-05-12 02:56] #11 closed, assigned to nobody

[2014-05-12 03:08] #52 closed, assigned to nobody

[2014-05-12 03:11] #83 closed, assigned to nobody

[2014-05-12 03:44] rvagg opened #95 "node-pre-gyp"
@maxogden @mafintosh I think you guys have been working on this and I don't want to go duplicating effort here. I'm mainly interested in shipping binaries of windows builds but I'm sure OSX users would appreciate it too. Linux is too tricky a target IMO because of the massive variability in libc + arch, although perhaps node-pre-gyp has some way of taking that into account?

[2014-05-13 17:43] kesla opened #98 "Get a range in one go"
Working with #96 got me thinking that we might have the opportunity here to add the functionality to get a range in one go.

The proposed API would then look something like this:

[code]

I find myself wanting to read a full range from time to time, so I end up reading everything from a stream and buffer it up, but with #96 in place perhaps that wouldn't need to be neccessary.

[2014-05-24 08:37] No9 opened #102 "Android Build"
So I was talking to @dominictarr earlier this week at decent camp and we are both interested in node-android.
Currently testing out these build instructions
https://gist.github.com/modeswitch/114c9bd55d800df242a2

But according to this issue it should just work:
https://github.com/joyent/node/pull/5514

Talking to @mafintosh it shouldn't be to hard to put into the 'prebuilt' stuff but we need to w

[2014-05-28 08:01] liwenzhu opened #104 "Performance huge drop in iterator.next()?"
I did some benchmarks these days, and I found that the benchmark will have a huge drop when I did multi iterator.next(), my leveldown version is the newest one, and I need iterator all data matched, the code is like:

var iterator = this.db.iterator({
         start: aaa + '$',
         end: aaa + '$32$'
});

function done(iterator) {
         iterator.next(function(err, key, value) {

[2014-05-31 13:42] madbence opened #105 "Abort on node v0.11.13"
I'm using the `0.11-wip` branch

[code]

Is 0.11.13 supported?

[2014-06-03 13:02] #104 closed, assigned to nobody

[2014-06-14 18:01] kesla opened #108 "double validation/normalization"
We're doing the same typ of validation & normalization in both levelup & leveldown today. The difference is that in levelup you get a `callback(err)` or `db.emit('error')` when something is bad, while we in leveldown throw instead.

I'm interested in doing a cleanup on this.

My suggestion would be to do as much validation & normalization only in leveldown, and change the semantics of leveldown so

[2014-06-15 00:55] abliss opened #109 "Reproducible segfault in Iterator::New"
Hello,

Thanks for this wonderful module.

I have a reproducible segfault in leveldown. Here's the stacktrace:

Program received signal SIGSEGV, Segmentation fault.
0x0029c18c in v8::Value::IsObject() const ()
(gdb) where
#0  0x0029c18c in v8::Value::IsObject() const ()
#1  0x00184ea8 in node::Buffer::HasInstance(v8::Handlev8::Value) ()
#2  0xb6c2ce48 in leveldown::Iterator::New(v8::Arguments cons

[2014-06-18 13:13] Volox opened #112 "Error when installing on Windows 8.1 x64"
Hi,
i have a problem installing `leveldown` on windows, i got the following [errors from npm](https://gist.github.com/Volox/56a28d09ab12423aa967). Probably related to #91

My system specs are:
- **node**: 0.11.13
- **v8**: 3.25.30
- **node-gyp**: 0.13.0
- **MS VS 2012 Express**

[2014-06-18 13:15] #112 closed, assigned to nobody

[2014-06-19 03:00] #109 closed, assigned to nobody

[2014-06-26 19:09] f0rmiga opened #113 "Node-webkit"
Has anyone successfull built leveldown for the node-webkit? I'm trying to use it, but no success. It successfully build in Windows, but node-webkit tells me that was not able to locate leveldown.node. Thanks.

[2014-06-27 20:25] #113 closed, assigned to nobody

[2014-06-27 22:21] chrisdcosta opened #114 "error leveldown@0.10.2 install: `node-gyp rebuild`"
Just don't seem to be able to install leveldown using npm. Getting this error consistently,
node-version = "v0.11.14-pre"
npm/1.4.14

454 error leveldown@0.10.2 install: `node-gyp rebuild`
454 error Exit status 1
455 error Failed at the leveldown@0.10.2 install script.
455 error This is most likely a problem with the leveldown package,
455 error not with npm itself.
455 error Tell the author that

[2014-06-29 23:00] #114 closed, assigned to nobody

[2014-08-11 00:56] nolanlawson opened #119 "asBuffer does not default to true"
I was using `level` to store some Buffers, and I noticed that by default, if you put in a Buffer, you actually get back a string. I tried setting `{asBuffer: true}` (although the docs say it's the default), and that still didn't work. In the end, I had to set `{asBuffer: true, valueEncoding: 'binary'}`, the latter of which does not seem to be documented.

Script to repro:

[code]
Output:

[code]

[2014-08-13 15:54] DrYSG opened #121 "10.2 install issue on Win7 64bit computer"
Windows 7 64 bit computer.

As you can see I was trying to install the latest version of pouchdb. The folks at pouchdb pointed me here.
[code]

[2014-08-15 03:53] nzdunic opened #122 "Any leveldown provider for Amazon s3"
Hi,

There is one for azure called azureleveldown.  Anything for s3 and other cloud storage providers?

Nick

[2014-08-19 20:26] ralphtheninja opened #124 "abstract-leveldown dependencies"
Is there any reason why we have dependencies to two different `abstract-leveldown` and also in both `dependencies` and `devDependencies`?

https://github.com/rvagg/node-leveldown/blob/master/package.json#L33-L40

[2014-08-20 02:53] #124 closed, assigned to nobody

[2014-09-10 06:24] #36 closed, assigned to nobody

[2014-09-10 20:59] mcavage opened #127 "leveldown installation broken on SmartOS"
This is is easily reproduced with a Joyent Manta account:

$ mlogin
$ npm i node-gyp -g
$ npm i leveldown

[code]

The image used in Manta has the following versions:

mark.cavage@manta # node -v
v0.10.28
mark.cavage@manta # npm -v
1.4.9
mark.cavage@manta # node-gyp -v
v1.0.1
mark.cavage@manta #

[2014-09-11 06:27] #127 closed, assigned to nobody

[2014-09-15 00:36] #105 closed, assigned to nobody

[2014-09-17 04:55] rvagg opened #129 "Upgrade to LevelDB@1.18.0"
See https://github.com/google/leveldb/releases/tag/v1.18

A job for somebody with some spare time on their hands one weekend. Will justify a minor version bump.

[2014-10-14 06:06] kscraja opened #130 "not able to install on node 0.11.13"
--------Error Log--------------------------

Usage: gyp_main.py [options ...] [build_file ...]

gyp_main.py: error: no such option: --no-parallel
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onCpExit (/home/chandra/nvm/v0.11.13/lib/node_modules/npm/node_modules/node-gyp/lib/configure.js:340:16)
gyp ERR! stack     at ChildProcess.E

[2014-10-19 18:30] #98 closed, assigned to nobody

[2014-10-19 18:31] #84 closed, assigned to nobody

[2014-11-02 14:01] ghost opened #131 "Unable to install"
I'm running OS X Yosemite. `version 1.0.0` don't work with `levelup` so I'm using this old version.

These are my dependencies:

[code]

Node version `v0.11.13`. I get this error when I run `npm install`

[code]

[2014-11-26 19:23] nolanlawson opened #133 "Windows 8.1 x64: "%1 is not a valid Win32 application.""
Unable to build leveldown on Win x64 apparently. Is this a known issue?

See https://github.com/pouchdb/pouchdb/issues/3052.

[2014-11-26 21:45] finnp opened #134 "Segfault when calling iterator without open"
Hey,

when calling the iterator without open first I get a

[code]

when doing this with a missing open:

[code]

Best,
Finn

[2014-12-03 15:59] yoshuawuyts opened #137 "Vagrant breakage: LevelUPError: Could not locate LevelDOWN, try `npm install leveldown`"
Similar to https://github.com/Level/level/issues/1, when spinning up `vagrant` + `boot2docker`. When running `ls node_modules`, `leveldown` is listed.

###### vagrantfile
[code]

###### versions
[code]

Halfway through the installation I'm getting the following, not sure if related:
[code]

Initializing leveldb as following, with `process.env.DB` set to `/data`:
[code]

Not sure what is causing th

[2014-12-12 01:41] hems opened #138 "Problem when trying to build for node-webkit ( fatal error: too many errors emitted, stopping now )"
Hello Guys, i guess this issue might not be exactly related to you, but i'm in high hopes that you might be able to help us.

We are trying to build "level" and use "level" inside a node-webkit application, but it is yielding errors when trying to rebuild using nw-gyp.

Here is a paste bin with my console output: http://pastebin.com/Nye3HhBG

[2014-12-13 14:41] #131 closed, assigned to nobody

[2015-01-15 09:09] akoenig opened #140 "io.js compatibility"
I know all of you guys are pretty busy with the io.js release yesterday (awesome work!), but are there any plans to migrate the leveldown code so that it compiles against the new v8 version?

[2015-01-15 09:13] rvagg commented on #140
see #139, coming as soon as that lands

[2015-01-15 09:13] #140 closed

[2015-01-15 09:15] akoenig commented on #140
Ah sorry for opening another issue, missed this one. Thanks! :)

[2015-01-15 20:47] ralphtheninja opened #141 "npm install fails with iojs v1.0.1"
I'm having problems building `node-leveldown` with `node-gyp`. Any suggestions? Please excuse me if this has already been reported.

[code]

[code]

[2015-01-15 21:03] ralphtheninja commented on #141
Aha, this is most likely the exact problem as https://github.com/iojs/io.js/issues/433

[2015-01-15 21:05] ralphtheninja commented on #141
My `npm-debug.log` is mega sized so can't paste it here. I have a copy of it and can mail it if it's required.

[2015-01-15 23:01] ralphtheninja commented on #141
Ok, so after some investigation I've come to the conclusion that `node-gyp` is trying to download files based on `nodejs.org` which is set here:

https://github.com/TooTallNate/node-gyp/blob/4ceed113a800378e78435a42632fd035413c99b2/lib/install.js#L42

You can affect the base url by using `--disturl` options:

[code]

But then we run into problems because the following line assumes `node` and also

[2015-01-15 23:47] timoxley commented on #141
https://github.com/iojs/io.js/issues/456

[2015-01-16 00:07] ralphtheninja commented on #141
Ignore the part with `.tar.gz` and `.tar.xz`. The latter is only used on `iojs.org` for smaller file size. The `.tar.gz` is also available so this is not an issue for `node-gyp`

[2015-01-16 00:43] ralphtheninja commented on #141
Ok with some npmlinking help from @rvagg I now pass the install step but get an error which is related to the `nan` module

[code]

[2015-01-16 01:17] rvagg commented on #141
#139 was just merged, leveldown@1.0.1 + iojs@1.0.1 should be :cupid:

[2015-01-16 01:17] #141 closed

[2015-01-16 01:18] rvagg commented on #141
also, don't use node-gyp to do manual compiles, use the one bundled with io.js releases, the changes haven't been upstreamed yet: /usr/local/lib/node_modules/npm/node_modules/node-gyp or something similar. You can extract / `npm link` that if you want a global but that version of npm will use it by default.

[2015-01-16 15:58] ralphtheninja commented on #141
Ok just going to summarize what I had to do in case anyone else reads this. YMMV.

1. `npm link` in `/usr/local/lib/iojs-v1.0.2-linux-x64/lib/node_modules/npm/node_modules/node-gyp`
2. `npm link node-gyp` in `node-leveldown` folder
3. `npm install` in `node-leveldown` did _not_ work -> Had to do `node-gyp rebuild` manually. This step is only a problem the first time `node-gyp` downloads from `iojs

[2015-01-17 23:33] substack opened #142 "expose the open state"
It would make levelup much less complicated and easier to use with arbitrary leveldowns if leveldown could keep track of its own open state instead of tracking that information externally.

Here is the relevant discussion from levelup:
https://github.com/rvagg/node-levelup/pull/299#issuecomment-69713031

[2015-01-18 06:02] fundon commented on #141
Maybe these places need to replace.
https://github.com/TooTallNate/node-gyp/blob/master/lib/install.js#L188
https://github.com/TooTallNate/node-gyp/blob/master/lib/install.js#L346
...

[code]

[2015-01-18 06:17] rvagg commented on #141
work in progress https://github.com/TooTallNate/node-gyp/pull/564

[2015-01-18 06:19] rvagg commented on #141
see also [pangyp](https://github.com/rvagg/pangyp) as a stop-gap replacement

[2015-01-19 10:15] rvagg commented on #142
@substack something you could contribute towards this are some breaking tests in abstract-leveldown so there's less work here and we can enforce the behaviour across all of the leveldowns.

[2015-01-29 04:55] binarykitchen opened #148 "leveldown.target.mk:recipe for target 'Release/obj.target/leveldown/src/batch.o' failed"
I am seeing a crash when installing leveldown on Ubuntu 14.10 with node.js v0.11.15

[code]

[2015-01-29 05:35] binarykitchen commented on #148
And maybe these lines from `npm-debug.log` are useful?

[code]

[2015-01-29 05:38] binarykitchen commented on #148
maybe needs an update to latest nan?

[2015-01-29 05:41] binarykitchen commented on #148
linked to https://github.com/ssbc/scuttlebot/issues/78

[2015-01-29 06:20] rvagg commented on #148
[code]

is there anything before that line to say what's wrong with batch.o?

[2015-01-29 07:06] mcollina commented on #148
@binarykitchen You should try: https://github.com/rvagg/node-leveldown/pull/146, it is 0.10.2 _but_ with the latest nan.

[2015-01-29 07:47] binarykitchen commented on #148
@rvagg yes, lots of warnings and errors. Here a sample:

[code]

[2015-01-29 07:51] rvagg commented on #148
Right, what @mcollina said then. I'll try and get my head around a release asap, kind of overloaded ATM though.

[2015-01-29 07:54] binarykitchen commented on #148
thanks @rvagg - really appreciate it!

if you are stressed, how about merging matteo's PR into a beta version like 0.10.2-beta and publish that for now?

[2015-02-01 07:37] binarykitchen commented on #148
@rvagg @mcollina ummm, sorry folks but is there an ETA when the next version is on npm?

[2015-02-10 13:34] ekristen opened #149 "leveldown-hyper branch seem's uninstallable"
I'm attempting to use liveBackup, but it is undefined when I installed `level-hyper`, I found the `leveldown-hyper` branch and the reference to the `liveBackup` code there, I attempted to install this branch directly but it errors out.

[code]

[2015-02-10 13:37] hij1nx commented on #149
Using a regular install of `level-hyper`, I think you can access the method from `db.db.liveBackup()`.

[2015-02-25 12:34] fergiemcdowall opened #150 "Reported weirdness when installing leveldown as a dependency"
As described here: https://github.com/fergiemcdowall/norch/issues/82

[2015-02-25 12:52] eklem commented on #150
[code]
Also, the error-message about libtool not in path is a bit strange:
[code]

[2015-02-25 15:39] rvagg commented on #150
in both cases you have the `Resource temporarily unavailable` error but for something different

do some googling on that and you'll find some interesting things to try -- basically I don't think this is related to leveldown or any particular npm package but it's a system problem, probably illuminated by the way Node is able to consume more resources (with ease) than traditional software platforms

[2015-02-25 15:40] eklem commented on #150
Thanks, I'll try that @rvagg

[2015-03-21 03:23] rvagg opened #153 "Move to "level" org?"
See https://github.com/rvagg/node-levelup/issues/316, same is relevant here.

[2015-03-21 06:20] ralphtheninja commented on #153
:+1:

[2015-03-22 08:43] hij1nx commented on #153
:+1:

[2015-03-22 10:22] mcollina commented on #153
:+1:, I would say this will just follow whatever levelup is doing.

[2015-03-23 07:27] juliangruber commented on #153
Yes

[2015-03-24 16:47] yamsellem opened #156 "0.10.3 compatibility"
Looking at its release date (7th of February), it seems that release 0.10.3 and next are compatible with node 0.12.0 (released 6th of February) because they don't work anymore with node 0.10.0 to me.

Is it the proper behavior?
Can it be documented to avoid confusion?

Thanks.

[2015-03-24 20:08] ralphtheninja commented on #156
We should still be compatible with node `0.10`. Could you be a little more specific in what is not working? Thanks.

[2015-03-24 20:10] ralphtheninja commented on #156
@yamsellem The tests pass for `0.10.37` so we know that much at least :) (https://travis-ci.org/rvagg/node-leveldown#L225)

[2015-03-24 20:19] ralphtheninja commented on #156
@yamsellem Please post the output of: `node -v` and `npm -v` and the error output you get.

[2015-03-25 03:17] lakowske opened #157 "Segfault on close with pending put"
I am getting a segfault when I run the following unit test.  The segfault doesn't happen every time I run the test.  Any ideas?

[code]

[2015-03-25 04:25] lakowske commented on #157
I also saw the following core dump:

[code]
I am running Ubuntu 14.04 on an Intel x64.

[2015-03-25 06:29] juliangruber commented on #157
can you try `require('level-11')` instead? that is a pre-release version that is likely to work better in newer nodes

[2015-03-25 13:06] lakowske commented on #157
I tried using ```require('level-11')``` and got the following output:

[code]

I suspect

[code]

is triggering the issue because when I take it out, I don't get a segfault.

[2015-03-25 13:16] juliangruber commented on #157
the segfault is probably cause by still open iterators. i think @kesla worked on this?

[2015-03-25 13:25] lakowske commented on #157
Yea, I took a peak at the source code and thought I'd try waiting like so:

[code]

Since I started waiting, I haven't received a segfault.  Was it rude how I was shutting down?  I am new to level and it hadn't occurred to me to do this.

[2015-03-25 13:26] ralphtheninja commented on #157
@lakowske Nope you weren't rude, this is the way it's supposed to work. There's some race condition happening somewhere. I'll dive into it and see if I can find something :)

[2015-03-25 13:27] ralphtheninja commented on #157
@lakowske I'm wondering if the stream haven't finished yet and is trying to do `db.put()`. Can you double check this?

[2015-03-25 13:38] lakowske commented on #157
I'm not sure how to test if the stream haven't finished yet, but I tried anyway.  Here is what I tried:

[code]

and got the following:

[code]

Not sure if that helps, but I have to get to work now.

[2015-03-25 13:55] ralphtheninja commented on #157
Ok, so I think I found something. It seems it's related to `{ sync: true }` in combination with closing the db. If I remove `{ sync: true }` it works each time (for me).

[2015-03-25 14:05] ralphtheninja commented on #157
Tried to strip this sample into something more minimalistic to see if we can reproduce the same kind of error without involving streams and other modules.

This seems to segfault as well:

[code]

[2015-03-25 14:11] ralphtheninja commented on #157
I can confirm that this segfaults on `0.10.37` as well so it doesn't seem to be related to any specific version of node.

[2015-03-25 17:46] ralphtheninja commented on #157
/cc @rvagg @kesla @mcollina Any ideas on why `{ sync: true }` should matter before I dive into C++? :)

[2015-03-25 18:02] lakowske commented on #157
@ralphtheninja Over lunch I tried your minimalistic version without sync, so:

[code]

and got the following on my third run:

[code]

This occurred on OS X 10.9.5 (FWIW).

[2015-03-25 20:06] kesla commented on #157
My guess is that there's an open iterator that's not being closed properly - but I don't have any pointers on where to look really to figure it out. Sorry.

[2015-03-25 20:15] mcollina commented on #157
My gut is that it is my fault, I probably got some bug in updating leveldown 0.10 to node v0.12 and iojs. Basically it's time for lldb/gdb and figuring out what the problem is :(.

[2015-03-25 20:41] ralphtheninja commented on #157
It's impossible for me to reproduce without `sync: true`. Perhaps it's more apparent when `sync` is set but still there.

[2015-03-25 22:18] No9 commented on #157
Hey @mcollina

Using https://github.com/ddopson/node-segfault-handler
I get the output below
Ran this a few times and the output is consistent.
Does it ring any bells?

[code]

[code]

[2015-03-26 09:29] No9 commented on #157
Dived in a little more this morning and and I think @kesla may have a point.

https://github.com/rvagg/node-leveldown/blob/v0.10.4/src/database.cc#L256
Is returning false so the db is being shut down immediately

My next step would be to see if writebatch in Leveldb

1. should set up an iterator to make L256 true

2. are some internals in leveldb that should take care of this.

3. have we missed s

[2015-03-26 11:59] ralphtheninja commented on #157
@No9 Yes I've noticed that it hangs as well. Just doesn't end. And on ubuntu I eventually get the system program error dialog:

![screenshot from 2015-03-26 12 59 13](https://cloud.githubusercontent.com/assets/308049/6845743/f55e77cc-d3b7-11e4-8b70-814ca217f92d.png)

[2015-03-26 12:28] ralphtheninja commented on #157
Ok, so I did the following

[code]
And once in gdb:

[code]

So now we have at least file names and file numbers.

/cc @mcollina

[2015-03-26 16:06] ralphtheninja commented on #149
@ekristen I think we resolved this, right? Closing.

[2015-03-26 16:06] #149 closed

[2015-03-26 16:12] ralphtheninja commented on #157
Digging through some old issues I found https://github.com/rvagg/node-leveldown/issues/32, reported by @rvagg

This feels very much related to the problems we are having here.

[2015-03-26 16:14] ralphtheninja commented on #32
@dominictarr I believe it involves all in flight operations (see https://github.com/rvagg/node-leveldown/issues/157)

[2015-03-26 16:17] ralphtheninja commented on #157
@mcollina I don't think this is something related to your changes :)

[2015-03-26 16:17] mcollina commented on #157
:dancers:! Big question: is this fixed in 1.0.0?

[2015-03-26 16:23] ralphtheninja commented on #157
@mcollina Nope.

[2015-03-26 16:25] mcollina commented on #157
Unfortunately I have no time now :(, but it is something I would love to solve :).

[2015-03-26 16:26] ralphtheninja commented on #32
@mcollina The counter would have to be static I guess.

[2015-03-26 16:26] ralphtheninja commented on #157
We should solve this before releasing `1.0.0` imo.

[2015-03-26 16:27] ralphtheninja commented on #157
Updated stack trace with `leveldb-1.17.0`:

[code]

[2015-03-26 16:35] ralphtheninja opened #159 "leveldown-hyper should be a fork of leveldown"
It's a bit messy right now since the `leveldown-hyper` module on npm corresponds to the `hyper-leveldb` branch in this repository. Also, we are using a git submodule for the `HyperLevelDB` dependency.

[2015-03-26 17:06] juliangruber commented on #159
:+1:

[2015-03-26 17:15] No9 commented on #157
@ralphtheninja good find on #32 and agree on holding 1.0.0

[2015-03-26 20:55] kesla commented on #157
Just a reminder - when we discuss 1.0.0 you mean 1.0.0 of levelup - right? We've released 1.0.0 (and 1.0.1) of leveldown already :)

[2015-03-26 21:04] ralphtheninja commented on #157
@kesla Yes, sorry, I was a bit unclear about that :)

[2015-03-28 02:33] ekristen commented on #153
+1

[2015-03-28 02:34] ekristen commented on #159
+1

[2015-03-28 09:06] mcollina commented on #159
+1
Il giorno sab 28 mar 2015 alle 03:34 Erik Kristensen <
notifications@github.com> ha scritto:

[2015-04-08 08:07] eklem commented on #150
Got it fixed, not quite sure how, but had some snag from earlier installation and got fixed when I installed Node v1.12.2. Guessing, as you, that this is not a `leveldown` issue, just close this one. And thanks for your feedback!

[2015-04-08 10:28] juliangruber commented on #150
awesome!

[2015-04-08 10:28] #150 closed

[2015-04-25 11:54] ralphtheninja opened #160 "Rename to leveldown?"
I believe the `node-*` naming convention is from the days where many repositories got the `node-` prefix to I guess be more explicit that it was a node module. Today I think people get that anyway because of an existing `package.json` and whatnot.

I also think that renaming this to match the module name is a good idea.

I know @juliangruber has +1'ed this before. What about the rest of you? :)

[2015-04-25 13:42] ekristen commented on #160
+1

Sent from my iPhone

[2015-04-25 17:30] jcrugzz commented on #160
+1

[2015-04-25 18:19] mcollina commented on #160
+1
Il giorno sab 25 apr 2015 alle 19:30 Jarrett Cruger <
notifications@github.com> ha scritto:

[2015-04-25 18:26] #160 closed

[2015-04-26 01:08] #153 closed

[2015-04-27 13:12] ralphtheninja commented on #81
@juliangruber Why are we benchmarking `lmdb` at all in `leveldown` repository?

[2015-04-27 13:19] ralphtheninja commented on #81
`write-sorted.js` uses `leveldown` and then perhaps `write-random.js` should also use `leveldown`.

[2015-04-27 13:20] juliangruber commented on #81
agreed

[2015-04-27 13:52] #81 closed

[2015-04-28 00:11] dweinstein commented on #159
:+1:

[2015-04-30 06:44] anil614sagar opened #166 "Unable to install on mac"
^CAnils-MacBook-Pro-3:levelmeup Anil$ sudo npm install -g leveldown
|

  CXX(target) Release/obj.target/leveldb/deps/leveldb/leveldb-1.17.0/db/builder.o
  CXX(target) Release/obj.target/leveldb/deps/leveldb/leveldb-1.17.0/db/db_impl.o
  CXX(target) Release/obj.target/leveldb/deps/leveldb/leveldb-1.17.0/db/db_iter.o
  CXX(target) Release/obj.target/leveldb/deps/leveldb/leveldb-1.17.0/db/filename.o

[2015-04-30 06:53] anil614sagar commented on #166
Never mind.. Issue with libtool..

Below command fixed the issue....
export PATH=/usr/bin:$PATH;

[2015-04-30 06:53] #166 closed

[2015-05-01 16:03] braydonf commented on #157
Also getting segment faults with:
[code]
Using using these versions:
[code]

[2015-05-01 23:10] ralphtheninja commented on #148
@binarykitchen `leveldown@1.0.2` works for me on node `0.11.16`. Are you still seeing these issues?

[2015-05-01 23:14] ralphtheninja commented on #130
@kscraja Can you try again with `leveldown@1.0.2`?

[2015-05-02 00:35] binarykitchen commented on #148
switched to iojs and works fine there

[2015-05-02 00:35] #148 closed

[2015-05-02 00:36] ralphtheninja commented on #148
:+1:

[2015-05-03 11:05] juliangruber commented on #142
What if deferred-leveldown took care of this? So its role could transform from "buffer operations" to "makes a leveldown always look open"

[2015-05-04 22:32] ralphtheninja opened #167 "npm install fails with iojs@2.0.0"
I just noticed that iojs released 2.0.0 and I'm not sure if this error is because of `iojs`, `node-gyp` or `npm`.

/cc @Level/owners

[code]

[2015-05-04 22:33] ralphtheninja commented on #167
[code]

[2015-05-04 22:35] ralphtheninja commented on #167
`leveldown@1.0.3` uses `nan@1.5.4` so might also be related to that.

[2015-05-04 22:57] rvagg commented on #167
Yeah, it's a breaking part of the V8 API that existed in V8 4.1 but we've deferred landing the breakage of 2.0.0 now that 4.2 is in there. Just do an `npm install nan@latest --save && node-gyp rebuild` and it'll work

[2015-05-05 01:07] ralphtheninja commented on #167
Sweet!

[2015-05-05 01:13] #167 closed

[2015-05-06 08:02] juliangruber opened #172 "Support checksum options"
- `ReadOptions::verify_checksums` for read operations, which, by default, don't verify checksums.
- `Options::paranoid_checks` when opening a db will do aggressive checksum verification

moved over from https://github.com/Level/levelup/issues/12

[2015-05-06 21:17] braydonf commented on #157
This issue doesn't appear when running with leveldb 1.18.0: https://github.com/Level/leveldown/pull/174

[2015-05-07 12:27] juliangruber commented on #157
see https://github.com/Level/abstract-leveldown/pull/58

[2015-05-07 19:24] braydonf commented on #157
Taking a look at this in deeper detail, and `Database::Close` is called and completed *before* `Database::Put` even begins. If there was guaranteed order, it could be possible to have a lock on `Database::Put` that would then be cleared in `WriteWorker::WorkComplete`. However, the lock wouldn't have chance to be put in place, since `Database::Close` is called first. I think `Database::Put` shouldn

[2015-05-07 21:11] ralphtheninja commented on #157
Hmm interesting. That led me into thinking about how we could achieve something like that. What if:

* `Close()` just stored a state that the db is about to close (e.g. a boolean) and nothing more (e.g. mutex)
* all new operations checks "are we about to close?"
* if we are about to close, callback with error ("can't do X because database is closed")
* if we are not about to close, add the worker

[2015-05-07 21:35] braydonf commented on #157
Sounds good to me.

It may be useful to have open/closed state in both? And to have helpers events in levelup (closest that caller), so that close would wait for an event:

[code]

[2015-05-07 23:29] ralphtheninja commented on #157
This is what it current looks like:

[code]

I don't like that if-statement. It should be possible to make much cleaner and also combine that with the `self.writing` guard.

[2015-05-08 01:17] braydonf commented on #157
Implemented a writing guard for LevelUP here: https://github.com/Level/levelup/pull/338

[2015-05-08 16:17] rvagg opened #175 "Replace Nan*OptionValue() with internal implementations"
https://github.com/iojs/nan/pull/335

They are being deprecated in NAN and need to be moved back in here where they originally came from.

[2015-05-09 10:30] ralphtheninja commented on #175
This seems to affect `NanBooleanOptionValue` and `NanUInt32OptionValue`

[2015-05-09 11:15] mafintosh commented on #95
bumping this. we have used https://github.com/mafintosh/leveldown-prebuilt for experimentation with this and are quite liking it. @ralphtheninja @rvagg @juliangruber i can send a pr that starts using node-pre-gyp with a build fallback, meaning that if not prebuild isn't available it'll just fallback to building leveldown from source (like now)?

[2015-05-09 11:22] mcollina commented on #95
+1, shorter install times are awesome!
Il giorno sab 9 mag 2015 alle 13:15 Mathias Buus <notifications@github.com>
ha scritto:

[2015-05-09 11:29] ralphtheninja commented on #95
@mafintosh Do it! :)

[2015-05-09 12:09] juliangruber commented on #95
you mean it would try `require('leveldown-prebuilt')` and fall back to building? or should it do something like node-sass does (iirc) to install binaries globally

[2015-05-09 13:43] No9 commented on #95
Would love to see this as it does impede adoption in some scenarios

[2015-05-09 13:51] mafintosh commented on #95
@juliangruber no i would basically take the small changes we added in level-prebuilt (its a fork of leveldown) and merge them in here. it uses node-pre-gyp instead of node-gyp which checks if there is a static build available at a url for your platform before trying to build it from source.

[2015-05-09 14:17] ralphtheninja commented on #95
I'm especially thrilled about this because of windows support. I don't use it myself but windows users are going to love this.

[2015-05-09 21:43] andrewrk opened #177 "ability to set permissions on the database files"
When you create a leveldb database, it creates files on the file system like this: http://paste.debian.net/174051/

That can be a security issue, in which case we need the perms to be 0600 instead of world-readable.

[2015-05-09 21:45] fsateler commented on #177
Pasting here for posterity as the pastebin will expire sometime:

      total 28M
      -rw-r--r-- 1 felipe felipe  2.1M May  9 14:24 000046.ldb
      -rw-r--r-- 1 felipe felipe  2.1M May  9 14:24 000047.ldb
      -rw-r--r-- 1 felipe felipe  2.1M May  9 14:24 000048.ldb
      -rw-r--r-- 1 felipe felipe  2.1M May  9 14:24 000049.ldb
      -rw-r--r-- 1 felipe felipe  816K May  9 14:24 000050.ldb

[2015-05-09 22:03] ralphtheninja commented on #177
How can you enforce a process to create files with only `rw` access for the current user?

[2015-05-09 22:22] andrewrk commented on #177
I made an assumption that leveldb API exposed permissions. I just browsed the leveldb source code and now I see that they do not, in fact, expose this functionality. So that means the node.js wrapper can't have this feature.

[2015-05-09 22:22] #177 closed

[2015-05-10 12:27] juliangruber commented on #95
ok, I so agree to this. my joyent box takes ages to build leveldown, and to have the prebuilt functionality available to the masses instaling plain leveldown is awesome

[2015-05-10 17:20] ralphtheninja commented on #129
We have two PRs https://github.com/Level/leveldown/pull/174 and https://github.com/Level/leveldown/pull/132 to select from. I haven't had the time to look at it, but plan to do that at least this coming week.

/cc @Level/owners

[2015-05-10 17:21] ralphtheninja commented on #159
https://github.com/Level/leveldown-hyper

[2015-05-10 17:40] #159 closed

[2015-05-23 15:35] obastemur opened #180 "Sample for the given statement"
I saw below statement on README and wondering if there is any sample that I can use to reproduce a crash scenario.
[code]

If a sample is not viable, I really appreciate if you can please explain a bit. What makes LevelDOWN unsafe ?

[2015-05-24 11:05] juliangruber commented on #180
levelup does additional argument checking, keeps you from crashing the process by for example performing operations against a closed db, emits more meaningful errors, and more :)

[2015-05-24 11:05] #180 closed

[2015-05-24 12:33] obastemur commented on #180
@juliangruber Thanks for the initials.

[2015-05-27 12:20] #175 closed

[2015-05-30 04:55] kumavis opened #187 "Compilation requires less than small memory"
I imagine this is a #wontfix but found that I couldn't compile levelDB on Joyent's free tier node box (256mb memory).

Close this as you will.

[code]

[2015-05-30 05:16] kumavis commented on #187
hmmm actually I guess I don't know what the problem is -- it seemed to compile on Modulus bottom tier fine, with less memory, but then fails when actually running
[code]

[2015-05-30 13:37] #130 closed

[2015-05-30 13:39] ralphtheninja commented on #95
@mafintosh If your hands are full I could make sure to bring this into leveldown. Any pointers on where I should look?

[2015-05-30 13:43] mafintosh commented on #95
@ralphtheninja that would be great. checkout https://github.com/mafintosh/leveldown-prebuilt which is my fork of leveldown that adds prebuilts

[2015-05-30 13:49] ralphtheninja commented on #187
This should be solved by using prebuilt binaries, see https://github.com/Level/leveldown/issues/95

[2015-05-30 13:50] ralphtheninja commented on #95
@mafintosh So essentially that fork is pure leveldown + the prebuilt things. Nothing else?

[2015-05-30 13:51] mafintosh commented on #95
@ralphtheninja yea

[2015-05-30 14:13] ralphtheninja commented on #95
@mafintosh https://github.com/Level/leveldown/pull/188 would be great if you could check that this looks ok

[2015-05-30 15:56] kumavis commented on #187
@ralphtheninja thanks!

[2015-05-30 15:56] #187 closed

[2015-05-30 16:15] ralphtheninja commented on #187
@kumavis Still a work in progress though :)

[2015-05-30 16:49] kumavis commented on #187
I'll report how it goes -- basic Joyent node box is SunOS -- not too optimistic

[2015-06-01 23:35] ralphtheninja opened #189 "Use which node versions on travis?"
Currently we are testing `0.10`, `0.12`, `1.8`, `2.0`, `2.1` and `2.2` on travis. Should we reduce the number of iojs versions?

[2015-06-02 04:34] juliangruber commented on #189
hmm what would be the advantage? faster builds?

[2015-06-02 11:25] ralphtheninja commented on #189
Slept on it and I think we should probably focus on node version with different ABI versions, e.g. 0.10, 0.12, 1.8 and 2, since these will be the versions we will create prebuilt binaries for.

[2015-06-04 13:39] ralphtheninja commented on #189
@mafintosh Does this make sense?

[2015-06-08 21:49] sergiovilar opened #190 "pre-build and Electron (atom-shell)"
Hi guys, sorry to bother you with that matter.

I'm trying to use and distribute an Electron app that uses leveldown and levelup.

I've done a rebuild using previous versions of leveldown and levelup:

```set HOME=~/.electron-gyp && node-gyp rebuild --target=0.27.2 --arch=x64 --dist-url=https://atom.io/download/atom-shell```

This works fine on my Mac but when I try to distribute to other platform

[2015-06-08 22:29] ralphtheninja commented on #190
Of course we can try to help you, but we need more information. "I've installed the latest versions of levelup and leveldown" doesn't say exactly what you did. Is there any way you can provide more detailed information? What does your package.json look like, what does the install command look like?

[2015-06-09 02:02] sergiovilar commented on #190
@ralphtheninja thank you! Sure, this is how my package.json looks like:

[code]

[2015-06-09 02:04] sergiovilar commented on #190
@ralphtheninja I ran just a `npm install levelup leveldown --save`.

[2015-06-09 08:53] ralphtheninja commented on #190
Ok cool. Mind posting the complete output of the command `npm i levelup leveldown --verbose`? Preferrably in a gist.

[2015-06-09 12:10] sergiovilar commented on #190
Sure, here it is:
https://gist.github.com/sergiovilar/d32b9ce9dd1530f4c05a

[2015-06-09 13:01] ralphtheninja commented on #190
@sergiovilar Hmm, but that seemed to work, no?

[2015-06-09 13:04] ralphtheninja commented on #190
[code]

[2015-06-09 14:37] sergiovilar commented on #190
The installation, yes, but when I try to use:

[code]

I receive:

```[LevelUPError: Could not locate LevelDOWN, try `npm install leveldown`]```

[2015-06-09 14:44] ralphtheninja commented on #190
Gotcha. Do you get this error when running in a "normal" node setting or does it happen only when running with atom-shell?

[2015-06-09 14:57] ralphtheninja commented on #190
I just ran your script (with some modifications to make it work on my machine) and it works fine for me.

[code]

The error message you get is from an older version of `levelup` which doesn't make sense since you just installed `levelup@1.2.0`

[2015-06-09 15:13] sergiovilar commented on #190
@ralphtheninja I only tried with atom-shell but I can try with a "normal" node to see what happens.

[2015-06-09 15:16] sergiovilar commented on #190
@ralphtheninja in a "normal" node works fine.

[2015-06-09 16:10] ralphtheninja commented on #190
So what are the steps to reproduce this with `atom-shell`?

[2015-06-09 16:26] sergiovilar commented on #190
@ralphtheninja Easy:

Install electron prebuilt:

```sudo npm install -g electron-prebuilt```

Create a directory and the index.js inside with the content you modified (and install level, of course):

[code]

Enter the directory and run:

```electron ./```

[2015-06-09 16:43] ralphtheninja commented on #190
Cool. I got the error now. What is your output of:

[code]

[2015-06-09 16:46] sergiovilar commented on #190
Node: v0.12.2
Electron: v0.26.1

[2015-06-09 16:49] ralphtheninja commented on #190
Try the following please:

* install node 0.12.4
* install electron-prebuilt 0.26.2 (the latest version)
* `rm node_modules && npm i levelup leveldown`

[2015-06-09 17:21] sergiovilar commented on #190
@ralphtheninja done!

When I run using node, everything works fine but when I run electron `electron ./` I got the same error:
LevelUPError: Could not locate LevelDOWN, try `npm install leveldown`.

The latest version of electron-prebuilt is 0.27.2, right?

[2015-06-09 17:29] ralphtheninja commented on #190
@sergiovilar Yes that's correct. Sorry if I'm causing a lot of work for you. Just trying to iron out where things go wrong. Working on a PR so we can get better error messages when trying to require `leveldown`. It's clearly there, so doing `npm install leveldown` is not very helpful in this case :)

[2015-06-10 17:40] ralphtheninja commented on #190
@sergiovilar PR merged in `levelup` for better error message. If you try reinstalling it we should get more information on what's going wrong (I suspect we will get ABI error message now)

[2015-06-10 18:04] sergiovilar commented on #190
@ralphtheninja I'm now receiving this when running with Electron:

```App threw an error when running [LevelUPError: Failed to require LevelDOWN (Module version mismatch. Expected 43, got 14.). Try `npm install leveldown` if it's missing]```

[2015-06-10 20:00] ralphtheninja commented on #190
Right, which was what I expected. So `14` corresponds to `v0.12.4` and I guess `43` corresponds to current `electron` and this is why you need to rebuild the binaries.

I think @mafintosh might know more of what's going on here.

[2015-06-10 20:09] mafintosh commented on #190
The problem is that you are using using a different version of node when running npm and building leveldown / installing prebuilds, than electron is using when running your app.

This is because electron bundles their own version of node and why you need to rebuild leveldown using the electron header files after installing it (the same goes for installing any other native module for that sake). Pr

[2015-06-10 20:32] ralphtheninja commented on #138
@hems Sorry that a response took so long. Please try this again. I suspect it has to do with an older version of `nan`. Reopen this issue if you're still having problems.

[2015-06-10 20:32] #138 closed

[2015-06-10 20:50] ralphtheninja opened #191 "create script that builds and uploads binaries to github"
Can you create releases on github via the api as well?

If the new release does not require binaries to be rebuilt (i.e. not updating anything on the c++ side, including dependencies) it should copy the binaries from the previous version and upload them.

cc @mafintosh

[2015-06-10 20:56] ralphtheninja commented on #189
https://github.com/Level/leveldown/commit/8a57fab2f85a4a167c36909350d72c11956ff573

[2015-06-10 20:56] #189 closed

[2015-06-10 21:01] #129 closed

[2015-06-10 21:06] ralphtheninja commented on #122
@nzdunic I'm cleaning up some issues. Please re-open if this is still important to you. Thanks!

[2015-06-10 21:06] #122 closed

[2015-06-10 21:06] ralphtheninja commented on #95
This is done.

[2015-06-10 21:06] #95 closed

[2015-06-10 21:07] ralphtheninja commented on #86
@DrYSG Please re-open if this is still an issue for you. Thanks!

[2015-06-10 21:07] #86 closed

[2015-06-10 21:09] ralphtheninja commented on #66
Implemented [here](https://github.com/Level/leveldown/pull/185) and landed in `1.2.0`.

[2015-06-10 21:09] #66 closed

[2015-06-10 21:11] ralphtheninja commented on #17
More than two years old thread. Closing.

[2015-06-10 21:11] #17 closed

[2015-06-10 21:13] ralphtheninja commented on #121
We have prebuilt binaries for windows starting at version `1.2.2`. Closing.

[2015-06-10 21:13] #121 closed

[2015-06-10 21:14] ralphtheninja commented on #133
We have prebuilt binaries for windows starting at `1.2.2`. Closing.

[2015-06-10 21:14] #133 closed

[2015-06-11 12:13] sergiovilar commented on #190
Okay guys, thank you so much. I'm dropping LevelDB and closing here.

[2015-06-11 12:14] #190 closed

[2015-06-15 00:38] hems commented on #138
@ralphtheninja i'm far down the line on sqlite at the moment, would have to revert my project too far back and jiggle. i don't think i'll be able to test that so soon. apologises.

[2015-06-15 09:51] ralphtheninja commented on #138
No worries.

[2015-06-16 16:47] braydonf commented on #157
btw: #174 ended up not fixing the bug

[2015-06-20 17:37] obastemur opened #192 "fallback to leveldown-mobile"
Below code is from `prebuilt.js`
[code]

On iOS, dynamically linking is not allowed. On Android side, everything is inside the APK file. So, the application needs to extract .node file into real file system first and then link. Still this is not that practical for a node application. The developer needs to update node-modules per desktop and mobile separately.

The assumption for `leveldown-mobile

[2015-06-20 17:48] ralphtheninja commented on #192
I don't like to have jxcore specifics inside leveldown. But we should be able to do something similar by instead adding an api to `prebuilt.js` so you can override the default behavior by providing your own function or similar.

[2015-06-20 18:01] mcollina commented on #192
I think we should just add a level-mobile project that bundles levelup and
leveldown-mobile.
Il giorno sab 20 giu 2015 alle 19:48 Magnus <notifications@github.com> ha
scritto:

[2015-06-20 18:30] ralphtheninja commented on #192
+1 for level-mobile

[2015-06-20 18:37] obastemur commented on #192
level-mobile sounds nice but there is a one problem. Upper module needs to target level-mobile. Actually, apart from the native (c,c++) part, there won't be any difference between leveldown and leveldown-mobile.

How about something with `if (process.platform == 'ios' || process.platform == 'android')` under the `catch` ?

The fallback mechanism works really nice though. I totally got the part wit

[2015-06-20 18:39] obastemur commented on #192
Thinking it again, level-mobile is also fine though. +1 .. i.e. pouchdb may pick level-mobile as a backend.
Sounds okay!

[2015-06-20 21:35] maxogden commented on #191
I kinda think we shouldn't publish to NPM until the binaries are uploaded to a release.

[2015-06-20 23:28] ralphtheninja commented on #191
I agree.

[2015-06-22 06:06] bjackson opened #193 "install fails, gets 404 when trying to get non-existent node binaries"
When I try to install leveldown, this is the output I receive:
[code]

The file at http://nodejs.org/dist/v2.3.0/node-v2.3.0.tar.gz does not exist. 2.3.0 is the io.js version I am running, but it seems to be trying to get that version from the nodejs.org website, which predictably, doesn't have it.

[2015-06-22 06:16] rvagg commented on #193
You have to use the node-gyp that comes with io.js, i.e. the one bundled with the npm bundled with io.js, you can't use a vanilla one so you can't upgrade npm and expect it to still work.

Lots of alternatives though:

1. download the io.js source tarball for your version and unpack it to ~/.node-gyp/ and node-gyp will skip this step
2. use https://github.com/mafintosh/node-gyp-install to install

[2015-06-22 10:19] ralphtheninja commented on #193
2. Works perfectly

[2015-06-22 13:02] bjackson commented on #193
Thanks all!

[2015-06-22 13:02] #193 closed

[2015-06-28 22:29] ralphtheninja commented on #192
Hmm I kind of like the idea of some sort of fallback mechanism. What if I want to run application A that assumes leveldown somewhere underneath. It would be neat if there was some way of running any node application on jxcore *if* there are fallbacks defined somewhere.

[2015-06-28 22:29] ralphtheninja commented on #192
To be more concrete. Lets assume I'd like to run `scuttlebot` on my router, but using `jxcore` instead of node.

cc @dominictarr

[2015-06-28 22:58] dominictarr commented on #192
@ralphtheninja that would also require https://github.com/paixaop/node-sodium to be running on jxcore... I'm no C expert but it seems what is needed is a way to compile jxcore + any extentions into just one binary?

[2015-06-28 23:11] ralphtheninja commented on #192
`node-sodium` would be awesome to have running on jxcore. I know too little about jxcore to see how we can simplify using already existing applications with native modules.

[2015-06-29 03:32] obastemur commented on #192
Actually we are at this very moment suffering on a mobile project because of this. There is a desktop test/dev file and mobile version of it. They both share the same node_modules folder. Multiple leveldown and leveldown-mobile folders.

Once embedded and required jxcore doesn't need leveldown.node file is there or anything special to leveldown-mobile

First expression, only `https://github.com/pa

[2015-07-07 08:29] yamsellem commented on #156
@ralphtheninja sorry for the delay. I've test it again and do not encountered any issue. I should have been wrong then (and I cursed myself for the absolute lack of detail of my first post). I'll post here if I find more.

[2015-07-07 08:29] #156 closed

[2015-07-07 10:05] ralphtheninja commented on #156
:+1:

[2015-07-10 10:55] fergiemcdowall opened #194 "Assertion `dummy_versions_.next_ == &dummy_versions_' failed."
I've been getting this quite a lot lately. It seems to come and go at random, although probably mostly when the DB is undergoing strain

[code]

Any tips? Is this a known bug?

[2015-07-10 11:01] juliangruber commented on #194
@ralphtheninja you helped debug this last time, i think it was something with iterators not being cleaned up, right?

[2015-07-10 11:35] ralphtheninja commented on #194
Afaik tt's related to closing the database while there are still open iterators. So the close operation have to wait until all iterators have ended before finally closing.

[2015-07-10 11:40] fergiemcdowall commented on #194
Is there some boilerplate incantation that should be used to close a DB and avoid this problem? (when using levelUp)

[2015-07-11 12:28] juliangruber commented on #194
really leveldown / levelup should handle that, it's not your fault. would it be possible for you to share a script that can cause this failure?

[2015-07-11 13:11] fergiemcdowall commented on #194
I cant reproduce it consistently. The test suite for `search-index` fails intermittently (1 in 10 times or so?) with this error (example https://travis-ci.org/fergiemcdowall/search-index/builds/70434516)

@ralphtheninja lots of closing was recently added to that test script, so your suggestion makes sense.

[2015-07-11 13:36] ralphtheninja commented on #194
It's usually also random behaviour because sometimes an operation is slightly longer or shorter depending on what the os had to do at that time. Imo this is an achilles' heel we need to addresss

[2015-07-12 06:27] rvagg commented on #194
fwiw I've never been convinced of the auto-close code for iterators, it's undergone tweaking but failures like this continue to make me suspicious

[2015-07-14 04:33] rgbkrk commented on #193
Thank you for this issue and alternatives. I'm using 2.

[2015-07-17 15:39] ArtskydJ opened #196 "Installation fails with Microsoft Visual Studio 2015"
Installation does not work using MSVS 2015.

[code]

Is this due to node-pre-gyp, leveldown, or my configuration?

[2015-07-17 16:37] juliangruber commented on #196
is it missing a header / stdlib?

[2015-07-17 18:40] No9 commented on #196
Hi @ArtskydJ

Can you confirm the version of node-gyp please
```node-gyp -v ```
According to this https://github.com/TooTallNate/node-gyp/issues/629 v2.0.0 is required for 2015 support.

FYI I think you are running into this issue here
http://stackoverflow.com/questions/30928193/visualstudio-2015-rc-issue-with-includes
and I am guessing but v2.0.0 caters for that.

[2015-07-17 19:32] ArtskydJ commented on #196
I have node-gyp v2.0.2.

Maybe `$(IncludePath)` needs to be added to `leveldown/deps/leveldb/leveldb.vcxproj`?

[2015-07-17 20:40] No9 commented on #196
`leveldown/deps/leveldb/leveldb.vcxproj` is generated by node-gyp
Can you post your leveldown/deps/leveldb/leveldb.vcxproj here to see what has been created compared to a working version.
My gut is we are going to have to tweak the level gyp file somehow
https://github.com/Level/leveldown/blob/master/deps/leveldb/leveldb.gyp#L29

[2015-07-17 20:48] ArtskydJ commented on #196
[code]

[2015-07-17 21:50] No9 commented on #196
The article says ```include paths should not specify the Visual C++ and Windows SDK include paths directly``` As that can cause the issue displayed.
I can't see any references in the project file above so can we see if MSBUILD is pulling them in at execution time
```npm i leveldown@1.3 --verbose```
Specifically looking for the CL line which should appear after ```ClCompile:``` and just before the

[2015-07-17 22:24] ArtskydJ commented on #196
[code]

[View full file](https://gist.githubusercontent.com/ArtskydJ/4850c7f47c4a171e2196/raw/output)

[2015-07-18 00:02] No9 commented on #196
Thanks @ArtskydJ
The only difference I can see between the to is the **/Zc:inline** option
This is defaulted to off in VS 2013
https://msdn.microsoft.com/en-us/library/dn449508.aspx

Could you run that command you gave with **/Zc:inline-** instead of **/Zc:inline**

C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\include\stdint.h exists please

[2015-07-18 03:05] ArtskydJ commented on #196
The file you mentioned does exist.

I tried running the command straight from the command line but I got this popup error:

![capture4](https://cloud.githubusercontent.com/assets/1833684/8760104/d01f1860-2ccf-11e5-87d7-3d2c0428f6a3.PNG)

[2015-07-18 11:37] No9 commented on #196
Right ok that's probably because you need a VS comandprompt.

So here is the build anyway. ```npm i leveldown@1.3````
It was built with node v0.12
https://drive.google.com/file/d/0B1Sqmq8yhAUVTlpyUXlXUFI1NnM/view?usp=sharing
You can unzip that into your node_modules folder and that will at least unblock you.

[2015-07-18 14:56] ArtskydJ commented on #196
Ok, thanks.

I have multiple versions of MSVS installed; I don't know if they overwrite each other. Do you know if it's possible to force node-gyp to use a different version of MSVS?

[2015-07-18 15:54] No9 commented on #196
Well you could try running "Developer Command Prompt for VS2013"
Usually in C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\Tools\Shortcuts

Then
```npm i leveldown@1.3 --msvs_version=2013```

[2015-07-19 17:10] michaelnisi opened #197 "v1.3.0 does not build on SmartOS"
This commit f9fa2c06b0e73bac3fcf0f2c3721e0b52978be81 broke the build for SmartOS.

[code]

Trying on the latest base image https://docs.joyent.com/images/smartos/base#base-15.1.1

[2015-07-20 01:19] rvagg commented on #197
Looks like `      , 'leveldb-<(ldbversion)/util/hash_test.cc'` was added in the last major upgrade in deps/leveldb/leveldb.gyp and needs to be removed for this to work properly. It's surprising that it works elsewhere.

[2015-07-20 20:32] #197 closed

[2015-07-20 23:43] snowyu commented on #157
The `sync` option **do not** make the `put` function synchronous, it just let the leveldb flush the data to disk immediately. So this is not bug, it is a wrong use. If you really wanna synchronous function to work,  you have to try my fork [snowyu/node-nosql-leveldb](/snowyu/node-nosql-leveldb), discussion #136 and  Level/abstract-leveldown#49

[2015-07-21 17:31] okv opened #200 "binary leveldown@1.3.0 fails with 'GLIBC_2.14 not found' on CentOS 6.6"
Hi, there!

I install leveldown
[code]
then get error at runtime
[code]

can i skip binary installation in some way?

[2015-07-21 18:43] ralphtheninja commented on #200
@okv Yep. You can do `npm i --build-from-source` to build it for your system.

[2015-07-21 18:45] ralphtheninja commented on #200
@okv What would be the proper way of fixing this so you *can* have prebuilts for centos?

cc @mafintosh

[2015-07-21 21:50] okv commented on #200
`--build-from-source` works great, i didn't know about that flag, thanks @ralphtheninja
I had similar experience when compile patched phantomjs on ubuntu and can't run it on centos then i compiled it on centos and it works perfect on both systems. Looks like when you compile on lower (than at runtime) glibc version it's gonna be ok. It would be great to have binaries for centos.

[2015-07-21 22:09] ralphtheninja commented on #200
I'm just wondering how we can achieve that. Maybe we simply need to build them on a centos system but we also need to know which binaries to fetch with `node-pre-gyp`. Currently I know too little about it to come up with a good solution.

[2015-07-21 22:10] ralphtheninja opened #201 "document usage of prebuild module"
Mainly to explain how it works when used with leveldown and help people resolve problems, see https://github.com/Level/leveldown/issues/200 as an example

[2015-07-21 23:18] No9 commented on #201
+1 the fact that it isn't a git clone & npm install needs calling out.

[2015-07-22 03:03] rvagg commented on #200
Prebuilds need to be done on older dists with older libc to be forward compatible. You can achieve broadest compatibility by compiling on CentOS5 (RHEL5) which is the oldest actually supported distro out there. Doing it with Debian Wheezy would give pretty good coverage too but you may still get complaints (maybe even this specific one about RHEL6).

See the table here for a libc version <-> distr

[2015-07-22 03:36] ralphtheninja commented on #200
@rvagg Thanks for input!

@okv Out of curiosity. Which version of libc do you have on your system?

[2015-07-22 06:15] okv commented on #200
@ralphtheninja CentOS 6.6 GLIBC 2.12

[2015-07-23 02:57] maxogden opened #202 "need windows prebuilt binary for 1.3.0"
if anyone has a windows machine and can build a release for https://github.com/Level/leveldown/releases/tag/v1.3.0 that would be awesome!

also, do we have any docs on what commands to run to do a 'prebuilt binary build'? could it be boiled down to a npm script?

[2015-07-23 03:30] rvagg commented on #202
Instructions would help, I could do the compile but against which version of Node? Multiple versions I'm guessing, do we have a list of `NODE_MODULE_VERSION`s that we are supporting? Also, what needs to be bundled up for distribution? The entire `build` directory or just `build/leveldown.node`?

[2015-07-23 10:32] No9 commented on #202
Hi @maxogden
I packaged one of these the other day for node v0.12.7  https://drive.google.com/file/d/0B1Sqmq8yhAUVTlpyUXlXUFI1NnM/view?usp=sharing
Please @ me here if your want iojs or other runtime.

@ralphtheninja Can I do anything as part of your pre-gyp stuff to help this as it's the second time we have run into this in a week.

[2015-07-23 15:07] ralphtheninja commented on #202
This has slowed down lately because I've been busy with other things. Check out the `node-pre-gyp-and-travis` branch (rebased it onto latest master) to see current progress. It assumes `node-pre-gyp` is used to publish the binaries, but we can obviously change that to something else, and we probably should.

I wanted to use `travis` to build the binaries for us, so contacted travis support and the

[2015-07-23 15:13] ralphtheninja commented on #202
On a side note, I also wrote [`ghreleases`](https://github.com/ralphtheninja/ghreleases) based on @rvagg 's `gh*` modules and the idea was to use that to publish binaries directly to GitHub.

For building on windows we should probably write a windows specific build script. That script in turn should use something that can install different versions of node on windows machines but my knowledge is l

[2015-07-23 15:18] ralphtheninja commented on #202
Oh yeah, I forgot something. If you take a look at `package.json` I added the following:

[code]

The idea here was to use e.g. `npm run release-minor` to create create a version with `'[publish binary]'` in the commit message and have that as a seam for actually publishing the binaries.

Hope this clears up some.

[2015-07-23 15:29] ralphtheninja commented on #200
@rvagg Do you think it's possible to install an older version of libc on travis and solve this problem that way?

[2015-07-23 18:29] maxogden commented on #202
@ralphtheninja @No9 when you get a chance could you add a npm script called `compile` that we could run e.g.

- `npm run compile`
- it would build leveldown on the current platform using whatever node is currently installed
- it would create the correctly named `.zip` in the `build` directory (or wherever it makes sense to save it

that way theres a manual way to build that just involves running a

[2015-07-24 01:12] rvagg commented on #200
ehh .. I don't know, I could imagine it'd be possible but I've never done something like that before - I know for instance that when compiling .debs and .rpms you can do it on newer systems but target older ones, I just don't know how that's achieved

is there any way of running Docker on travis perhaps? you could use Docker to do it in a new container running an older environment.

[2015-07-24 07:11] mafintosh commented on #202
I'm gonna do some work on this today

[2015-07-26 14:07] #191 closed

[2015-07-26 14:08] ralphtheninja commented on #191
https://github.com/mafintosh/prebuild

[2015-07-26 15:56] ralphtheninja commented on #201
Also, once we have prebuilds up and running we should document which version of libc we support. Currently it looks like we will build using Debian Squeeze (libc version 2.11)

[2015-07-27 18:02] ralphtheninja commented on #202
@maxogden I'm closing this now since @mafintosh has done amazing work with `prebuild`!

[2015-07-27 18:02] #202 closed

[2015-07-27 21:29] askldjd opened #205 "build-pre-gyp folder corruption in Win7"
This behavior is seen on leveldown 1.3.0 with Win7, and not observed on Mint Linux.

After running npm install leveldown, leveldown.node is not build.

Instead, there is a file called build-pre-gyp that is 308KB. build-pre-gyp is supposed to be a folder, and I suspect that there is a output path bug where the folder and file are merged. This is because leveldown.node is roughly the same size.

![c

[2015-07-27 23:38] ralphtheninja commented on #205
@askldjd Thanks for reporting this. We are currently working on an improved system for prebuilds and will release a new version tomorrow evening. Hopefully you can close this issue then :)

[2015-07-29 11:33] mafintosh commented on #205
this should be fixed now

[2015-07-29 11:40] mafintosh opened #207 "Compilation error on Windows x64 on iojs 2.4.0"
When trying to compile leveldown on Windows 7 x64 using iojs 2.4.0 I get the below errors

(Using iojs 1.8.1 it works fine)

[code]

[2015-07-29 12:43] No9 commented on #207
So just to make sure I am testing the right thing as ```node-gyp rebuild``` is bauking on my config
(404 trying to get v2.5.0 is a yak I don't want to shave)
Using **iojs 2.5.0** on **master**
[code]
This works

[code]
So apart from the `repair non-existant directory returns error` this looks good to me.

Or should I be testing something else specifically

[2015-07-29 12:52] mafintosh commented on #207
@No9 is this on Windows 7 64bit?

[2015-07-29 13:01] No9 commented on #207
@mafintosh yup N.B. IOJS 2.5.0

[2015-07-29 13:08] mafintosh commented on #207
@No9 just tried with 2.5.0 and its still failing, which version of visual studio do you use?

[2015-07-29 13:56] ralphtheninja commented on #207
@mafintosh I suspect this is related to your compiler not having c++11 support (strongly typed enums) http://www.cprogramming.com/c++11/c++11-nullptr-strongly-typed-enum-class.html

[2015-07-29 14:18] No9 commented on #207
@mafintosh  I am on VS 2013 upgraded from 2010 though
with a winsdk 7.1 thrown in for goodluck
If I get time I would like to take https://msdn.microsoft.com/en-us/windows/desktop/bg162891.aspx for a drive to see how straight forward this can be made.
But there are always other things to do :/

[2015-07-29 14:22] #205 closed

[2015-07-29 14:23] mafintosh commented on #205
just verified that this is indeed fixed (including for 1.3.0)

[2015-07-29 16:28] mafintosh commented on #207
Dang. Guess I'll have to try upgrading the VS on the prebuild vm :/ @No9 How do I upgrade from VS2010 to VS2013? And did you need to do other stuff to get compilation to work?

[2015-07-29 17:29] No9 commented on #207
I put it on top of the 2010 install using the normal install.msi
I didn't uninstall 2010.

You can have them on the same machine and get the goodness of both worlds :)

You will have to use the --msvs-version=2013 flag and not be afraid of debugging with procmon if you hit some issues.
https://technet.microsoft.com/en-us/library/bb896645.aspx
I seem to recall I had some registry settings that didn

[2015-07-29 17:34] mafintosh commented on #207
@No9 do i have to use the `--msvs-version=2013` flag when compiling with node-gyp? (i am a windows noob :))

[2015-07-29 18:11] No9 commented on #207
If you have 2013 installed and it's default which it will be if you install over 2010 then yes
There is a global environment you can set I'll post it when I get to big screen

[2015-07-29 19:32] mafintosh commented on #207
Awesome - thanks

[2015-07-29 19:33] mafintosh commented on #200
This should be fixed in 1.4.0. We use an older version of debian to do prebuilds now and we also test if the downloaded prebuild can be loaded. If not it falls back to compiling

[2015-07-29 19:58] No9 commented on #207
Click Start
And search for `systempropertiesadvanced`
Click to run
Click the `Environment Variables` at the bottom of the form
In the system variables pane add a new one with
name : `GYP_MSVS_VERSION`
value : `2013`
Save all
You will have to restart any consoles to pick up the change
Validate in an new console with
[code]

no worries about the noob bit - I'm happy to help out.
I am currently in th

[2015-07-29 20:32] ralphtheninja commented on #200
@okv Mind trying out a `npm i leveldown` to see if it works for you?

[2015-07-29 23:27] rvagg commented on #207
I'd remove 2010 completely, no reason to have both, even for compiling for Node 0.10. Go to "Add and Remove Programs" in the Control Panel and purge all of the cruft it installs, including all of the SQL Server garbage.

If you just have 2013 installed then you shouldn't have to worry about the `--msvs-version=2013` stuff.

If you need more hints, https://github.com/nodejs/build/tree/master/setup/

[2015-07-30 00:45] No9 commented on #207
@rvagg So @mafintosh went for a straight 2013 SP 5 setup and ran into this
https://github.com/TooTallNate/node-gyp/issues/479
'ammintrin.h' (Really want to call this the 'amirite' bug)
This was resolved in 2010 sp1 but looks to have been reintroduced with some later security updates and impacts a 2013 straight install on win7

I am not seeing this issue on win7 so concluded that it was due to my d

[2015-07-30 00:48] No9 commented on #207
k so I am going to get this 2008 and take this for a spin tomorrow
http://www.microsoft.com/en-ie/download/details.aspx?id=11093
Thanks for the node windows install I hadn't seen that before.

[2015-07-30 01:22] mafintosh commented on #207
Getting VS2013 to work on 32bit was easy. All the pain and suffering started on 64 bit

[2015-07-30 06:16] okv commented on #200
it works now, thanks a lot

[2015-07-31 18:36] bradserbu opened #208 "RocksDB compile on OSX"
I saw a previous issue for this, but it is still occurring for me... Does anyone know what the fix is... Clearly the build is not compiling with C++11 support... I'm using XCode 6.4 build tools...

[code]

[2015-07-31 19:34] ralphtheninja commented on #208
I haven't looked at that branch yet, so not familiar with what has to change to make it work. Maybe also extract that branch into a separate fork of `leveldown`, e.g. `leveldown-rocksdb`.

[2015-07-31 21:15] bradserbu commented on #208
@ralphtheninja Are you raggv on npmjs.org?

[2015-07-31 21:20] bradserbu commented on #208
It appears that the "rocksdb" package on npm needs to be updated to the latest published version on github... Compiling the code from the rocksdb@0.10.1 branch@tag works...

[2015-07-31 21:23] bradserbu commented on #208
I've requested @rvagg to update the 'rocksdb' repo on npmjs to the latest.

[2015-08-03 19:47] nolanlawson opened #210 "0.10 -> 1.4 upgrade error: destroy() causing "LOCK: already held by process""
I am trying to upgrade PouchDB from leveldown 0.10.5 to 1.4.0. The tests still pass on 0.10.5, but oddly, when I upgrade, I get a new error:

    OpenError: IO error: lock LOCK: already held by process

This error is thrown when I try to call `levelup()` after `close()`ing and `destroy()`ing the old database. (Our tests do this in the `beforeEach()` of each test.) I tried stepping through in the d

[2015-08-07 00:27] donaldhook commented on #196
I am experiencing the VS2015 issue as well ... Have been trying a number of things to try and resolve, Python, VC++, etc.

I receive this error a number of times in the log

..\src\odbc_connection.cpp(436): error C2668: 'NanThrowError': ambiguous call t
o overloaded function [C:\Users\dhook\AppData\Roaming\npm\node_modules\odbc\bui
ld\odbc_bindings.vcxproj]

Here is a larger portion of the log
===

[2015-08-07 01:21] No9 commented on #196
Hi @donaldhook
If looks like you are trying to compile odbc and not leveldown

o overloaded function [C:\Users\dhook\AppData\Roaming\npm\node_modules\odbc\bui
ld\odbc_bindings.vcxproj]

Can I suggest you raise the issue there https://github.com/wankdanker/node-odbc
Thanks

[2015-08-07 17:56] darsain commented on #207
I'm running:

- Win 8.1
- io.js@3.0.0 x86 + npm@2.13.3
- Visual Studio Express 2013 with Update 5 for Windows Desktop
- Windows 7 64-bit SDK

and I'm getting this: https://gist.github.com/anonymous/3fa229dbc0b1b0352786

I've tried downgrading io.js to `2.5.0`, `2.4.0`, `2.3.4` and on all of these versions I'm instead getting:

[code]

Nothing is set as read only. The whole directory is even succes

[2015-08-07 18:37] ralphtheninja commented on #207
@darsain We are providing binaries for iojs, but we haven't built for iojs 3.0.0 yet (new ABI version). So this explains why you had to switch to another iojs version.

Now, the reason why it still doesn't work for the other versions is the real issue here. So to me it seems `prebuild` fails to `require()` the leveldown binary (e.g. `WARN install Module did not self-register`), which tells me some

[2015-08-07 19:28] darsain commented on #207
@ralphtheninja https://gist.github.com/anonymous/f2c8cf620a58d43f8eea

[2015-08-09 07:53] ralphtheninja commented on #207
@darsain I believe that `node-gyp` fails with the clean step:

[code]

So there is some kind of odd problem with permissions on your windows machine. Not sure yet how to get around it.

[2015-08-09 12:45] darsain commented on #207
I tried applying and triple checking the permissions, and also installing into different newly created folders, different HDDs, I even made a new partition, just to rule the permissions out completely :) Still the same error.

So it doesn't seem like it's in permissions, which is also supported by isaacs in one of the similar issues to this one:

... or when something else is still using the file,

[2015-08-10 16:56] daleharvey opened #211 "npm install is failing on iojs v3.0.0"
Seeing a different error locally as well as a permafail on travis

https://s3.amazonaws.com/archive.travis-ci.org/jobs/74904011/log.txt is the travis log (https://travis-ci.org/pouchdb/pouchdb/jobs/74904011 is the run)

On a local install - https://gist.github.com/daleharvey/c8956054681e14ea192e

[2015-08-10 19:50] jekrb commented on #211
I ran into the same issue yesterday, it seems there is a pending pull request to fix it: #195

For the time being I'm just installing that `leveldown` branch.

[code]

and using `levelup` instead of `level`
[code]

[2015-08-16 20:58] nolanlawson commented on #210
I went ahead and did a sort of "git bisect" to try to figure out exactly which version of leveldown broke.

PouchDB is currently using 0.10.5. I can confirm that 1.0.4 is demonstrating this issue. I wasn't able to test 1.0.0-1.0.3 because they didn't build on my machine (Linux Mint).

Anyone have an idea of what changed between 0.10.5 and 1.0.4 that could have caused this issue?

[2015-08-16 21:29] nolanlawson commented on #210
Well, I did an actual `git bisect` (my previous build issues were resolved by using 0.10 instead of iojs), and it says that the first bad commit is 185b870402ac57a1f3c939841ff8021a666ffcb6, which makes no sense. :confused:

[2015-08-16 21:34] nolanlawson commented on #210
Well, this is totally crazy. I can confirm that d14c56e3e7397aa3e6652d129f7d17e56ad49852 passes our test suite but 185b870 does not.

[2015-08-16 21:36] nolanlawson commented on #210
For anyone who wants to run the minimal PouchDB test suite that will pass/fail the fastest, you can do this:

[code]

[2015-08-16 23:03] nolanlawson commented on #210
This is totally illogical. I can repro the issue by checking out  d14c56e and then modifying the package.json to have 1.0.0 as its version.

Peer deps? leveldown reading its own version somewhere and modifying its behavior? File access from conflicting versions? Gremlins?

[2015-08-16 23:21] jekrb commented on #211
I think everything has been addressed with #195 & #212 as I'm not having any issues installing on io.js 3 any more :)

Thanks @mafintosh @rvagg @kkoopa @ralphtheninja  @dominictarr @juliangruber !

[2015-08-17 05:25] juliangruber commented on #211
sweet, @daleharvey can you confirm?

[2015-08-17 05:26] juliangruber commented on #210
i thought about that too, but afaik only levelup does that, and it throws if it finds an incompatible version

[2015-08-17 06:01] juliangruber commented on #210
@nolanlawson trying to run the testsuite, i get this:

[code]

[2015-08-17 11:19] daleharvey commented on #211
Hrm, I am still seeing failure to install on travis, https://api.travis-ci.org/jobs/75824033/log.txt?deansi=true is the log

[code]

[2015-08-17 11:35] rvagg commented on #211
probably a compiler version error, see [here](https://github.com/Level/leveldown/pull/212#issuecomment-131396402) @daleharvey

[2015-08-17 12:31] nolanlawson commented on #210
@juluangruber yep, that's exactly it. The bug manifests as a timeout. Unfortunately we don't log the error anywhere because we don't expect it.

[2015-08-17 12:37] nolanlawson commented on #210
You can see the error if you add a console.log [here](https://github.com/pouchdb/pouchdb/blob/81f7ef0409a65b33027001983e6ad884d1594c70/lib/adapters/leveldb/index.js#L149-L152).

[2015-08-17 13:52] juliangruber commented on #210
@nolanlawson i'm not getting an error there. i'm currently confused since those apis don't seem to match:

- https://github.com/pouchdb/pouchdb/blob/81f7ef0409a65b33027001983e6ad884d1594c70/lib/setup.js#L75
- https://github.com/pouchdb/pouchdb/blob/81f7ef0409a65b33027001983e6ad884d1594c70/tests/integration/utils.js#L161

[2015-08-17 15:39] nolanlawson commented on #210
@juliangruber Yeah we currently have a weird setup where you can `PouchDB.destroy()` as well as `new PouchDB().destroy()`, but they both route to the same code.

I'll try to create a better repro case so it's easier to test; in the meantime I recently repro'd the error in Travis (https://github.com/pouchdb/pouchdb/pull/4170); [here's the log](https://s3.amazonaws.com/archive.travis-ci.org/jobs/758

[2015-08-17 15:52] nolanlawson commented on #210
@juliangruber OK, check this out: https://github.com/pouchdb/pouchdb/pull/4172

What I'm actually seeing now is that the `levelup()` callback is never invoked, so we get nether an error nor a result.

[2015-08-20 18:29] jkrot commented on #207
I have this same issue you can see more info in https://github.com/pouchdb/pouchdb/issues/4173  using VS 2012 Premium which shouldn't have this issue like VS 2010.

[2015-08-21 01:09] rvagg commented on #207
does VS 2012 actually work for compiling against io.js? I thought it was 2013 or higher given the C++11 features in V8.

[2015-08-21 08:46] No9 commented on #207
Also something weird in that final screen shot as it says `node -v 0.12.7` and it's an `ETIMEOUT`
![Screenshot](https://cloud.githubusercontent.com/assets/124587/9333262/938a4870-458e-11e5-8a15-76e3fcca0277.PNG)
Seems to be a lower level setup problem mixed with an connectivity issue?

[2015-08-21 12:24] jkrot commented on #207
Thats just a timeout with express because another dependency  failed.

[2015-08-23 21:38] kde99 opened #213 "Leveldown failing to compile on win 10"
Hello everyone!

I'm trying to install level and it fails at installing leveldown. I have windows 10 and visual studio 2015 (newly installed) also the newest node-gyp (v2.0.2) Nodejs is 0.12.7 my pc is a 64bits system. The headers are not missing and there are placed in the correctly.
[npm-debug.log](https://mega.nz/#!OVQmTDjL!MVdGlkwVwE2RPpNHF2yAtIyqByDtpTSOLcvnaknaWOE)
![image](https://cloud.git

[2015-08-23 22:06] No9 commented on #213
This looks the same as https://github.com/Level/leveldown/issues/196

[2015-08-24 00:43] ralphtheninja commented on #213
@No9 Thanks for replying to this. I'm completely in the dark when it comes to windows these days.

[2015-08-24 05:45] kde99 commented on #213
@No9 It can be #196 but I don't understand what was the fix for it back then and also I wanted to let you know that this error is still there even in a newer version.

[2015-08-24 09:02] No9 commented on #213
@kde99 So there isn't a solution in #196 :(
I was just flagging it for consistency

Fortunately I installed the Rust plugin for VS 2013 last week and it has completely killed my VS 2013 so I am going to put 2015 on today and see if I can replicate this.

My working assumption at the moment is that there has been a change to the default behavior of VS builds and we are going to need a flag of some

[2015-08-24 12:47] No9 commented on #213
@kde99 FYI I can now replicate this locally on my VS 2015 install

[2015-08-24 13:07] ralphtheninja commented on #213
:+1:

[2015-08-25 00:30] No9 commented on #213
Hey @kde99
I made progress on this tonight and as with all good assumptions I got it completely wrong :)

What has happened is M$ have decided to be good citizens and start implementing some of the standard language features so we don't need to supply level implementations anymore.

The immediate workaround is to replace
[code]
in /deps/leveldb/port-libuv/port_uv.h
https://github.com/Level/leveldo

[2015-08-25 10:26] csulok opened #214 "missing release for win 64 leveldown@1.4.1"
Installing leveldown@1.4.1 on a Windows 2012 server results in:

prebuild WARN install Failed to download prebuild

Having checked the releases page, it looks like the win64 files are missing for this release, but they are there for leveldown@1.4.0. Is there a specific reason for this, or is there a way to nudge the installer to the 32bit binaries if the 64bit is missing? (not sure it's compatible

[2015-08-25 11:21] No9 commented on #214
I know @mafintosh was looking at that here
https://github.com/Level/leveldown/issues/207 but the issue got flooded
@mafintosh where did you finish on win 64 support?
Thanks

[2015-08-25 12:25] ralphtheninja commented on #214
@csulok You could do `npm i leveldown@1.4.0` as a workaround for now.

[2015-08-25 12:31] csulok commented on #214
Did that, thanks :) the changelog is kinda sparse after 1.0.7, but the commit log showed there's nothing groundbreaking between the 2 releases.

[2015-08-25 14:53] mscandal opened #215 "leveldown not building on smartos"
this is the output from `npm i leveldown` with
[code]

[code]

Not really sure what to do. Any help is greatly appreciated.

[2015-08-25 15:14] ralphtheninja commented on #215
Mind doing `npm i leveldown --verbose` to get more output and post that into a gist?

[2015-08-25 15:38] mscandal commented on #215
Here it is https://gist.github.com/mscandal/5fa8a0b4b49fe2b00493

[2015-08-25 16:39] ralphtheninja commented on #215
@mafintosh Can we add a `sunos` machine as well? It seems `process.platform` is `'sunos'`

![sunos-prebuild](https://cloud.githubusercontent.com/assets/308049/9472983/a35ce8b4-4b58-11e5-9a04-75a9a6780c64.png)

[2015-08-25 17:04] mafintosh commented on #214
I still have trouble getting leveldown to build on latest iojs on win64 (help greatly appreciated!!) which is why new builds for win64 havent been added. As a temporary workaround I'll add builds for the other versions.

[2015-08-25 17:43] mscandal commented on #215
Anything I can do to get this working in the meantime?

[2015-08-25 18:42] ralphtheninja commented on #215
@mscandal If you can find more information on why it doesn't compile that would be very helpful

[2015-08-25 19:12] No9 commented on #215
This looks fishy
`/opt/local/gcc47/include/c++/cctype:89:11: error: '::isblank' has not been declared `
 I just installed 1.4.1 on my SmartOS fine so I am assuming this is an environment issue.
@mscandal can you give us the output of `gcc --version` mine is 4.7.0

[2015-08-25 19:39] mscandal commented on #215
@No9 I'm running gcc 4.7.3

[2015-08-25 20:21] No9 commented on #215
@mscandal
K so that looks like a known issue on illumosgate Aug last year.
http://comments.gmane.org/gmane.os.illumos.devel/17570

Might be worth checking if this patch is valid
http://ma.nexenta.com/~woodstock/isblank-webrev/

[2015-08-25 21:13] mscandal commented on #215
I really don't know enough about C++/unix to apply the patch. It looks valid, but those files are read only. Even when root.

[2015-08-25 22:12] ralphtheninja commented on #215
@No9 So we do have some limitations on compilers. Perhaps we should write something about that in the readme.

[2015-08-25 22:23] No9 commented on #215
@ralphtheninja Fair enough I just want to validate the above with a fresh smartOS instance to find out exactly where we stand.

[2015-08-25 22:43] No9 commented on #215
@mscandal ok so I have just spun up a new joyent instance
[code]
and ran
[code]
Works without any problems

Also of note is that gcc on my newly created instance is one version higher so I think the bug I found above is what you have walked into.
[code]
If you can confirm your image version please so we know if and when we walk into this again but as the container sec won't let you modify the file

[2015-08-25 22:52] mscandal commented on #215
@No9 My image version is nodejs/14.3.0

Thats what I was starting to think the solution would be. Thanks for helping me figure this out though!

[2015-08-25 22:54] No9 commented on #215
@mscandal no probs always happy to support illumOS folks
We are few and far between.
Sorry it wasn't a better outcome.
If you wouldn't mind closing the issue if we are done here

[2015-08-25 22:55] #215 closed

[2015-08-25 23:01] ralphtheninja commented on #215
:+1: Good work Anton!

[2015-08-26 01:08] No9 commented on #214
Hey @mafintosh I have the builds for x64 windows on iojs 3.2.0 and illumOS. too
Can I put them some where or is there some additional foo that we need to do?
.

[2015-08-26 11:35] ralphtheninja commented on #214
@No9 You should be able to do `prebuild --upload` to build and upload them. You need to have a github token though in order for the upload to succeed. You can also manually upload them.

[2015-08-26 11:59] mafintosh commented on #214
@No9 yea would be great if you could run that to make builds for all the win x64 node versions

[2015-08-26 13:10] No9 commented on #214
@mafintosh @ralphtheninja thanks
--upload was the magic I was looking for :)

[2015-08-30 13:59] nolanlawson opened #216 "Only compile once"
When I `npm install phantomjs`, I notice that it looks for a cached version in `/tmp/phantomjs`, so that it doesn't have to re-download the binary over and over again.

Is there any reason we couldn't do that for leveldown? Every project I work on that's linked to leveldown requires that I re-compile it every time I `npm install`, `npm update`, or `npm link`, which really slows down my workflow. C

[2015-08-30 14:05] juliangruber commented on #216
That _should_ be taken care of by the newly introduced prebuilds. Are you sure you're running the latest version?

[2015-08-30 14:06] nolanlawson commented on #216
Ah dang. :( No, I'm still blocked by this: https://github.com/Level/leveldown/issues/210

[2015-08-30 14:06] #216 closed

[2015-08-30 14:06] juliangruber commented on #216
ah, lame. i'll take another look at that issue

[2015-08-30 14:07] juliangruber commented on #210
are you on latest levelup as well?

[2015-08-30 14:07] nolanlawson commented on #216
yeah, I took another crack at it, but I just got completely stymied. I'm in the IRC ##leveldb room if you have questions about how to reproduce

[2015-08-30 14:08] nolanlawson commented on #210
Yeah, I tried a Travis run where I upgraded all 3 of levelup/leveldown/level-sublevel: https://github.com/pouchdb/pouchdb/pull/4170

[2015-08-30 14:08] juliangruber commented on #216
would it be possible to create a minimal gist triggering the problem? i find it hard to dig through the pouchdb stuff, i'm not familiar with the codebase

[2015-08-30 14:15] nolanlawson commented on #216
@juliangruber Sure thing, sorry that it's so complicated. I tried to come up with a minimal test case, but couldn't. :(

[2015-08-30 14:23] nolanlawson commented on #216
@juliangruber Gist here: https://gist.github.com/nolanlawson/89e6ec7b987698076690

[2015-08-30 19:07] juliangruber commented on #216
I put a `console.log()` on top of each `.destroy = function(){ ... }` I could find in the codebase and of `leveldown`, and none logged anything, so none of the `.destroy()` functions is ever really called. This line of code is reached though and should call one: https://github.com/pouchdb/pouchdb/blob/master/tests/integration/utils.js#L161.

Maybe some of the promise stuff is messing things up?

I

[2015-08-30 19:08] nolanlawson commented on #216
I doubt it's anything PouchDB-related. I can literally repro this bug by merely incrementing the version in leveldown's `package.json` and making no other change. I can understand it's hard to analyze given PouchDB's monster test suite, though, so I will try to write a small reproducible test case and come back to you.

[2015-08-30 19:54] juliangruber commented on #216
Ok, yeah I understand the test case isn't easy to come up with, but I'll happily look into it :)

[2015-08-30 20:37] nolanlawson commented on #210
Well, I feel downright foolish. I've been distracted by a red herring -I updated the `leveldown` `dependency` in our `package.json` without also updating the `optionalDependency`. The `optionalDependency` was set to 0.10.2, whereas the regular `dependency` was set to 1.4.1.

So [this error](https://github.com/Level/levelup/blob/8f442f77baea1cdb1b7af844e3374380c2bb015f/lib/util.js#L41-L49) about in

[2015-08-30 21:16] nolanlawson commented on #216
Thanks for your patience! :) And yeah, I actually managed to find a reproducible test case: https://github.com/nolanlawson/leveldown-210.

I suspect this is actually a level-sublevel issue, because if I remove the `sublevel()` call, the test passes.

[2015-08-30 21:18] nolanlawson commented on #210
Minimal test to reproduce: https://github.com/nolanlawson/leveldown-210

[2015-08-30 21:27] ralphtheninja commented on #210
@juliangruber Are you looking into this? Do you need an extra pair of eyes on it? :)

[2015-08-31 09:08] juliangruber commented on #210
@ralphtheninja i'll look into it in ~1h, but if you wanna do so now feel free to :)

[2015-08-31 10:55] juliangruber commented on #210
potential fix: https://github.com/dominictarr/level-sublevel/pull/96

[2015-08-31 10:56] juliangruber commented on #210
closing this issue since it's a level-sublevel issue

[2015-08-31 10:56] #210 closed

[2015-08-31 10:59] ralphtheninja commented on #210
:+1:

[2015-09-04 01:49] ggreer opened #218 "`npm install --build-from-source` fails on io.js v3.3.0"
I'm not sure if this is the fault of prebuild or node-gyp or what, but building from source can't seem to find common.gypi. [Here's the output](https://gist.github.com/ggreer/e4c2546294ccf68e63d7) of `npm install --build-from-source --verbose` with leveldown master on OS X 10.10.5, using io.js v3.3.0. I've had the same behavior using io.js v3.3.0 on Ubuntu 14.04.3.

I've worked-around the problem

[2015-09-04 01:51] ggreer commented on #218
I forgot to mention: debug builds fail. Here's the output on my system: https://gist.github.com/5541bf810a4e807bf9e0

I'm pretty sure it's due to [prebuild hard-coding `build/Release`](https://github.com/mafintosh/prebuild/blob/master/build.js#L9)

[2015-09-04 02:06] ralphtheninja commented on #218
If there's something wrong with the current `node-gyp` setup you could try:

[code]

alternatively:

[code]

[2015-09-05 02:32] ggreer commented on #218
Removing `~/.node-gyp/3.3.0` fixes this. Sorry for the incorrect bug report.

The problem only happens if I first install https://github.com/bnoordhuis/node-heapdump. That creates `~/.node-gyp/3.3.0` without `common.gypi`.

Try this in your leveldown directory:

    rm -fr ~/.node-gyp/3.3.0
    npm install heapdump
    npm install --build-from-source

I'm not sure where to file this bug. It's not

[2015-09-05 03:29] rvagg commented on #218
FWIW, all of this drama will all go away very soon, https://github.com/nodejs/node-gyp/pull/711 is going to land in Node v4 next week and will upstream to npm proper shortly thereafter doing away with all of the necessary io.js-related node-gyp hacks.

[2015-09-05 10:21] ralphtheninja commented on #218
@ggreer No worries. This is why it's important to post these issues on GitHub so we can figure out what the problem is

I don't think this is related to `heapdump` per se but rather installing *any* native module. I believe that it's actually `node-gyp` that creates `~/.node-gyp/3.3.0` incorrectly by copying include files related to the current host version of node, doing `npm i --build-from-sourc

[2015-09-05 10:26] mafintosh commented on #218
@ralphtheninja checking for common.gypi in [node-gyp-install](https://github.com/mafintosh/node-gyp-install) as well sounds like a good fix.

[2015-09-05 10:26] ralphtheninja commented on #218
@ggreer I just tried reproducing this using something else than `heapdump` and took `buffertools` instead and it's the same problem there

[code]

[2015-09-05 10:26] ralphtheninja commented on #218
@mafintosh Cool. I can make a PR.

[2015-09-05 10:45] rvagg commented on #218
Hey @ralphtheninja & @mafintosh, something to be aware of is that you'll need a double check because it can now be in an alternate location: https://github.com/rvagg/node-gyp/blob/process.release/lib/configure.js#L305-L309

Going forward, node-gyp will be downloading a headers-only tarball and it'll unpack most of its contents into the .node-gyp directory like so: ~/.node-gyp/version/include/node/

[2015-09-05 10:48] ralphtheninja commented on #218
@rvagg Thanks for the heads up. Mind creating an issue on `node-gyp-install` and link to this issue?

[2015-09-05 11:18] #218 closed

[2015-09-05 11:23] ralphtheninja commented on #218
@ggreer Please test again and close this issue if it works out for you.

[2015-09-05 17:30] ggreer commented on #218
It works. Thanks for fixing this.

[2015-09-06 15:53] ralphtheninja commented on #211
@daleharvey Is this still an issue? Please close if that's the case. Thanks!

[2015-09-06 19:11] daleharvey commented on #211
Once I updated to g++4.8 I have started seeing new errors

[code]

Basing my changes to .travis.yml mostly off the leveldown travis.yml so not sure whats up here either

[2015-09-06 19:38] daleharvey commented on #211
I think that actually needs a level upgrade to be supported right? thats still in progress for pouch so will close this out

[2015-09-06 19:38] #211 closed

[2015-09-07 12:45] ralphtheninja commented on #207
@mafintosh [This comment](https://github.com/nodejs/node-gyp/issues/629#issuecomment-138276692) might be useful for making x64 work with windows

[2015-09-08 11:22] No9 commented on #214
@ralphtheninja finally got my finger out on this.
I have ran builds for v0.10.40, v0.12.7 and iojs 3.3.0
they are in the releases folder
leveldown-v1.4.1-node-v45-win32-x64.tar.gz
leveldown-v1.4.1-node-v14-win32-x64.tar.gz
leveldown-v1.4.1-node-v11-win32-x64.tar.gz
There is a funny using the automated generator with all the versions as I am hitting an issue with v2.4.0

@csulok can you retest you

[2015-09-08 11:46] #201 closed

[2015-09-08 11:55] ralphtheninja commented on #214
:+1:

[2015-09-09 16:06] jacargentina commented on #194
Any news on this? I'm getting this error a lot when using `search-index` on my website

[2015-09-09 16:40] darsain commented on #207
So I've finally had a chance to test the installation of prebuild binaries on Win 8 on a different machine (with completely different HW) to completely rule out the possibility that the report above is something with my environment, and got the exact same error:

[code]

Environment:
- Win 8 x64
- iojs 2.0.0-2.5.0 x86 *(x64 versions don't download prebuild binaries but try to build locally, which

[2015-09-09 16:48] jkrot commented on #207
I was using node 0.12.7 Windows & x64 with VS 2013 Premium installed when I got my above error.  I will try again on my home machine which has windows 10 on it but still been frustrating.

[2015-09-09 20:44] robogeek opened #221 "Node.js v4.0.0 - Failed to require LevelDOWN"
I have a simple app, and testing compatibility with v4.0.0 ..

[code]

I've done npm install, and that went through correctly.

Running the app gives this error message:

[code]

[2015-09-09 22:56] No9 commented on #207
Hi @jkrot prebuild should now work for 0.12.7 x64 I put it up a couple of days ago.
https://github.com/Level/leveldown/issues/214
So you shouldn't be building at all if you are installing pouch.
Or is this a different use case?

[2015-09-09 23:04] jkrot commented on #207
Pouch is fine now i was still trying to build leveldown with different
versions of vs to see what would work.

On Wed, Sep 9, 2015, 5:56 PM Anton Whalley <notifications@github.com> wrote:

[2015-09-09 23:10] No9 commented on #221
Hi @robogeek

I tried to replicate this using your package.json
[code]
And running the simple test app from levelup.
[code]
But I can't replicate the problem.
The `Module did not self-register.` hints at an ABI issue
Have you rebuilt leveldown the module since your upgrade to v4.0.0?
[code]

[2015-09-09 23:25] No9 commented on #207
Hi @jkrot
If we are still talking about the `EPERM` I haven't been able to replicate this nor I have I seen first hand in the wild.

As it's an issue on a number of different projects as well as leveldown would you mind installing proc mon
https://technet.microsoft.com/en-us/library/bb896645.aspx
And run it while you are doing a build.
After you can filter the trace with the string `leveldown.node

[2015-09-09 23:30] robogeek commented on #221
I did

[code]

Effectively the same thing.

The two systems I have available are:  a) MacBook Pro running OS X 10.10, b) Ubuntu 14.04

[2015-09-09 23:38] No9 commented on #221
@robogeek
Can you confirm your setup please
Don't use the full path like you are doing when you actually run app.js
i.e. **NOT** /usr/local/node-v4.0.0-linux-x64/bin/node -v
[code]

[2015-09-10 00:29] robogeek commented on #221
Hmm... I set the PATH so like so:

[code]

And then the node command line worked as you said, and then npm install did a full compile of the leveldb/etc sources, and now my app works correctly.

[2015-09-10 00:29] #221 closed

[2015-09-10 09:02] darsain commented on #207
So this: https://gist.github.com/anonymous/a8754ac9ecc8c38fe02b

is the procmon log of what happens with `leveldown.node` file during this error:

[code]

[2015-09-10 13:10] ralphtheninja commented on #207
I'd really love it if we could pin this down and kill it with fire once and for all.

[2015-09-10 19:35] mfrost66 opened #222 "node.lib: invalid or corrupt file"
platform: Win7x64, Node v4.0.0, npm 2.14.2, node-gyp v3.0.1

Compiling with VS2013 generates the following after compiling leveldown_async.cc.  I also tried with VS2015 but bombed out much earlier with what appears to be missing header file errors.

 or corrupt file: cannot read at 0x166F [C:\temp\node_modules\leveldown\build\l
eveldown.vcxproj]

Any suggestions?  I can develop on linux, but if I

[2015-09-10 19:43] ralphtheninja commented on #222
@mfrost66 It's not possible at the moment since there are no prebuilts for that version of node yet. Once that has been resolved you should get them by default when doing `npm i leveldown`

[2015-09-10 23:58] mfrost66 commented on #222
platform: Win7x64, Node v3.3.0, npm 2.13.3, node-gyp v3.0.1

@ralphtheninja
I reverted back to io.js 3.3.0 which if I understand this [abi matrix](https://raw.githubusercontent.com/mapbox/node-pre-gyp/master/lib/util/abi_crosswalk.json) correctly, should map to the leveldown-v1.4.1-node-v45-win32-x64.tar.gz prebuilt.  But, running ```npm i leveldown``` still fails to download.  What else do I need

[2015-09-11 00:02] ralphtheninja commented on #222
@mfrost66 Hmm ok. So there are some problems with that build. @No9 Any ideas?

[2015-09-11 00:06] ralphtheninja commented on #222
@No9 @mafintosh Should we wipe all x64 windows builds from https://github.com/Level/leveldown/releases/tag/v1.4.1 and rebuild them all once @No9 has environment setup?

[2015-09-11 00:14] No9 commented on #222
@ralphtheninja looking now

BTW I can also replicate the original `node.lib: invalid or corrupt file` so I don't think we are going to have an x64 4.0.0 build soon :(
Trying 32 after I sort 3.3.0 out

[2015-09-11 00:15] rvagg commented on #222
if you need help I can run stuff on the Node CI infra to generate builds, just tell me what to run and what you need as output

[2015-09-11 00:29] ralphtheninja commented on #222
@rvagg That would be super awesome! It seems windows is the problem. If you want to try it out you could:

[code]

That will build for all major abis and the resulting `.tar.gz` files will end up in `prebuilds/` in the leveldown root.

If you want to upload them you can append `-u gh-token` to the last command. This will not work though since there already prebuilt files on https://github.com/Leve

[2015-09-11 00:41] No9 commented on #222
@mfrost66 I can't replicate that issue on 3.3.0
@ralphtheninja Does prebuild verify the module by trying to load it as part of the install?

[2015-09-11 00:50] No9 commented on #222
So I have bottomed out the 4.0.0 issue the file that is installed node.lib installed with node gyp is as it's actually a 404.html page masquerading as a .lib file :)
I will raise a bug there

[2015-09-11 00:58] rvagg commented on #222
@No9 @ralphtheninja this is probably a prebuild issue, as of 4.0.0 (and io.js), the .lib files come from win-x86/node.lib and win-x64/node.lib, this _must_ be fixed on the client side because the SHASUMS256.txt file references those and even if we add a symlink or server rewrite it's not going to verify.

[2015-09-11 00:59] rvagg commented on #222
Also

![wut?](https://cldup.com/lLJfInX12R-1200x1200.png)

I don't even

[2015-09-11 01:00] rvagg commented on #222
back to the node.lib issue, if prebuild has its own download logic, it could bundle node-gyp and `require('node-gyp/lib/process-release')` to get the correct locations for these assets, all the logic is encapsulated in there as of 3.0.0

[2015-09-11 01:18] No9 commented on #222
Thanks @rvagg :)
agree it's a prebuild issue

[2015-09-11 01:20] ralphtheninja commented on #222
I will raise a bug there

Ugh.

I'll work on that the coming days if not @mafintosh beats me to it.

[2015-09-11 01:31] No9 commented on #222
@ralphtheninja on the upside if you manually download the node.lib file and put it in
`.node-gyp\4.0.0\x64`
Then run `prebuild -t 4.0.0 -u <gh-token>` It pushes a build to
https://github.com/Level/leveldown/releases/edit/v1.4.1/leveldown-v1.4.1-node-v46-win32-x64.tar.gz
:)

@mfrost66 The 4.0.0 now has a prebuild would really appreciate it if you could validate it.

[2015-09-11 01:32] mfrost66 commented on #222
@No9 Any suggestions for troubleshooting why the download fails?  The relative (I think) portion of npm-debug.log is below.  I can do a build myself, I'd just prefer to understand why the download fails both for myself and for others who might be in the same boat.

[code]

[2015-09-11 01:35] mfrost66 commented on #222
@No9 I was able to download prebuilt with 4.0.0

[2015-09-11 01:36] No9 commented on #222
Thanks @mfrost66 really appreciate that
I can go to bed happy now

[2015-09-11 07:24] ralphtheninja commented on #222
@No9 Awesome. And yes, prebuild tries to load the downloaded module.

[2015-09-11 15:06] No9 commented on #29
This is no longer an issue so closing

[2015-09-11 15:06] #29 closed

[2015-09-15 08:10] thunder7553 commented on #213
I have the same problem after installing Visual Studio 2015. Is there anything new on this matter?

[2015-09-15 08:50] thunder7553 opened #224 "missing release for node 4.0 / windows x86"
I am using Visual Studio 2015 on Windows 10 and I cannot compile leveldown (which is a separate matter). But I cannot download the prebuild binaries either. I started "npm install leveldown --verbose" and saw that it wants to download following file:

https://github.com/level/leveldown/releases/download/v1.4.1/leveldown-v1.4.1-node-v46-win32-ia32.tar.gz

Unfortunatly, I do not see a 32bit Version

[2015-09-15 09:42] No9 commented on #213
So I couldn't work out how to determine the actual version of MSVC being used to compile when node-gyp runs under  `auto`  select.
i.e. I when build is ran without an explicit MSVC being added at the command line or as an ENV variable.
The above patch should work in the mean time but I will raise a ticket on there to see what those folks have to say.

[2015-09-15 10:02] #214 closed

[2015-09-21 13:34] brett19 commented on #222
https://github.com/mafintosh/node-gyp-install/pull/11

[2015-09-21 14:27] brett19 commented on #222
I should note that the "build premature close" error that @rvagg (and I) encountered still appears to be an issue.  It seems to occur transiently and with the fix above builds succeed the majority of the time.  I cannot however seem to identify where the "premature close" line originates from.

[2015-09-21 19:00] brett19 commented on #222
@rvagg Finally succeeded in resolving the 'premature close' issue.  See:
https://github.com/mafintosh/node-gyp-install/pull/12

[2015-09-24 12:36] ralphtheninja commented on #222
@mfrost66 Can this issue be closed now?

[2015-09-24 12:50] ralphtheninja commented on #137
@yoshuawuyts Did you manage to solve this?

[2015-09-24 12:52] ralphtheninja commented on #224
@thunder7553 Our aim is to support 32 bit windows and we're working on it.

[2015-09-24 16:02] brett19 commented on #222
Latest prebuild fixes "premature close" as well.  All issues mentioned in this ticket should be resolved with the latest prebuild version.

[2015-09-26 03:41] yoshuawuyts commented on #137
@ralphtheninja I wasn't able to solve this at the time. Due to time constraints I had to abandon the project. I no longer have access to the project, so I don't think this issue will be able to be resolved. Thanks for checking up though :sparkles:

[2015-09-26 03:41] #137 closed

[2015-10-01 09:34] zaceno opened #226 "prebuild --download hangs & fails behind proxy"
Best guess: prebuild isn’t using my proxy settings. Even though they are set in environment variables, npm config AND command line flags.

Command:

[code]

Console output (just the last part)

[code]

[2015-10-01 09:37] zaceno commented on #226
... also, could you advise me on a manual workaround?

I can of course download the prebuilt `https://github.com/level/leveldown/releases/download/v1.4.1/leveldown-v1.4.1-node-v46-darwin-x64.tar.gz` -- but how do I go about unpacking and manually putting it in my local node_modules, to satisfy other packages that depend on leveldown?

[2015-10-01 09:47] ralphtheninja commented on #226
@zaceno You could try to update the local prebuild dependency in leveldown, e.g. `npm i prebuild@2.6.0` and then try installing again

[2015-10-01 09:51] ralphtheninja commented on #226
@zaceno Also, could you paste the complete verbose output in a gist?

[2015-10-01 10:28] zaceno commented on #226
Managed to force the leveldown install to use prebuild v 2.6.0 by making a package.json and npm-shrinkwrap.json. Verbose output of this found here: https://gist.github.com/zaceno/4e77122c2a3823e8a0ec

... but as you can see, the problem remains.

Again: since I am able to download the prebuild manually -- is there any way I can cobble things together manually to make npm and dependent packages (po

[2015-10-01 10:33] ralphtheninja commented on #226
If you download the `.tar.gz` file to the root of `leveldown` folder you can just unpack it and it will end up in `build/Release/leveldown.node`

![unpack](https://cloud.githubusercontent.com/assets/308049/10218624/8937934c-6838-11e5-80d3-384bab674776.png)

[2015-10-01 10:37] ralphtheninja commented on #226
@zaceno Ok, so that was the log from the last output. Mind pasting the original problem? If prebuild fails for some reason it should fallback to building the binaries and I want to find out why that doesn't happen.

[2015-10-01 10:47] zaceno commented on #226
Yes, the gist was from when I used prebuild@2.6.0. It did fallback to trying to build from source (but building from source failed for some other reason). I'll get back to you with the original problem shortly.  Trying your suggestion of putting the prebuild inside node_modules/leveldown a t m.

[2015-10-01 11:08] zaceno commented on #226
Here's full verbose output of original problem: https://gist.github.com/zaceno/126a2ad71c44157e25f7

[2015-10-01 11:09] zaceno commented on #226
Unfortunately I wasn't able to just unpack the prebuilt in my node_modules/leveldown

(failed install means I had no leveldown. So I downloaded from github, and tried to run npm install. Even though the build is there, I wasn't able to hack the package.json to make it stop trying to rebuild from source on npm install)

[2015-10-07 16:07] palamccc opened #227 "segault in leveldown 1.4.1, node 4.1.2"
I'm getting segfault in leveldown, but i don't know which action is triggering it, can you help reading the segfault trace (leveldown 1.4.1, node 4.1.2)

    PID 1 received SIGSEGV for address: 0x0
    /usr/src/app/node_modules/segfault-handler/build/Release/segfault-handler.node(+0x17f3)[0x7f049274c7f3]
    /lib/x86_64-linux-gnu/libpthread.so.0(+0xf8d0)[0x7f0494d0a8d0]
    /usr/src/app/node_modul

[2015-10-07 17:56] juliangruber commented on #227
can you tell us the last version of either node or leveldown that does work for you?

[2015-10-08 03:11] palamccc commented on #227
This is the first time, i am using leveldown. if i continuously write data into db, Its crashing within few minutes.  But its not repeatable, but within few minutes it crashes again.

Can you recommend, some last stable version, so that i will try on that.

[2015-10-08 05:56] juliangruber commented on #227
i think using latest leveldown is fine, maybe try `node@0.12` and `node@3`

[2015-10-08 10:07] ralphtheninja commented on #227
@palamccc Can you provide a simple gist of what you're doing?

[2015-10-09 15:30] No9 commented on #227
@palamccc this is interesting
A gist would be appreciated as this seems to be failing on a normal `put` - `_ZN7leveldb2DB3PutERKNS_12WriteOptionsERKNS_5SliceES6_+0x61)[0x7f047bdb2661`

[2015-10-10 01:08] palamccc commented on #227
On further debugging, i found the issue, I was trying to db.close(), when db.put() is in progress.

I am generating one leveldb file for every hour based on old server logs, generating 1000s of leveldb files. surprising it worked for 99.99% times and caused segfault rarely. so i thought issue was not my side.

In this case, Is it possible to throw meaningful exception that, .close() can't be calle

[2015-10-12 17:49] wgiroir opened #228 "Prebuilt binaries are being used even with --build-from-source option"
I am attempting cross compile leveldown for arm using OpenEmbedded Yocto.

The command being run to build leveldown is
`npm i --verbose --debug --build-from-source --target_arch=ia32 --target_platform=linux`

Npm is getting the correct options as you can see in the output

`npm info it worked if it ends with ok`
`npm verb cli [ '/usr/local/bin/node',`
`npm verb cli   '/usr/local/bin/npm',`
`npm ve

[2015-10-12 18:11] wgiroir commented on #228
This issue has been recreated outside of the cross compile environment

* git clone git@github.com:Level/leveldown.git

* cd leveldown

* npm  i --build-from-source --verbose >& /tmp/a

* fgrep -n leveldown.node /tmp/a
14702:prebuild info unpack required /home/walt/workspace/leveldown/build/Release/leveldown.node successfully

* md5sum /home/walt/workspace/leveldown/build/Release/leveldown.node
e0

[2015-10-12 18:18] cdaringe commented on #92
thanks @rvagg.  i was able to repeat your steps and confirm that all was well with leveldown@latest (builds and tests OK).  this lead me to scrap my global version, reinstall (which perhaps was done with a different node build?), and return to happiness. :+1:

[2015-10-12 19:11] ralphtheninja commented on #228
@wgiroir On it.

[2015-10-12 19:19] wgiroir commented on #228
I reviewed the package.json file and found a solution/workaround for this one.
I can, as your README.md suggest, use `npm run rebuild`

Now just need a successful build

[2015-10-12 23:46] ralphtheninja commented on #228
@wgiroir I've patched prebuild now. Mind testing out `npm i --build-from-source` again? Wipe `node_modules` folder first :)

[2015-10-13 14:19] wgiroir commented on #228
@ralphtheninja Absolutely.  Thanks for the quick patch.  I'll give you an update in the next few hours

[2015-10-15 15:25] wgiroir commented on #228
This is fixed

[2015-10-15 15:25] #228 closed

[2015-10-20 15:35] juice49 commented on #226
I've just encountered this issue. Did you figure out the cause or a workaround?

[2015-10-20 18:12] zaceno commented on #226
afraid not. :( I "solved" it by temporarily connecting from outside our corporate proxy, and doing `npm install leveldown`.  npm caches the prebuilt binary (I presume) so I can now do npm install pouchdb et c in every project I need it, without problems. ...until I clean npm's cache that is

[2015-10-20 18:39] juice49 commented on #226
Hmm okay, I'll try that out! Thanks for the help 😊.

[2015-10-21 07:02] juliangruber opened #230 "travis failing on 0.10"
https://travis-ci.org/Level/leveldown/jobs/86559781

@ralphtheninja, any ideas?

[2015-10-21 08:40] ralphtheninja commented on #230
The only explanation I can give is that travis was borked for some reason. I restarted the test and then it worked.

[2015-10-21 09:28] juliangruber commented on #230
ok let's say this was a one off failure outside of our scope

[2015-10-21 09:28] #230 closed

[2015-10-24 13:14] juice49 commented on #226
I managed to fix this in the end, although I think I was likely experiencing a different problem. Our RHEL server had an old version of gcc (< 4.8) that was failing to compile leveldown.

If `gcc -v` shows a version less than 4.8, maybe this is same problem. I read about this in another issue, but afraid I can't find the link now.

[2015-10-28 11:49] thunder7553 commented on #224
In 1.4.2, there is no 32 bit windows support either. Can I help out somehow?

[2015-10-28 11:50] ralphtheninja commented on #224
@No9 Got time to build some? :)

[2015-10-30 11:00] No9 commented on #224
Failed on a creating a dual build environment when I did the 1.4.2 builds the other day.
Will keep chipping away at it.

[2015-11-03 05:28] MidnightLightning opened #232 "Build failure on OSX 10.6"
Just updated to Node v4.2.1 (via MacPorts), and now my LevelDB installation won't work (specifically, LevelUP NPM module can't find LevelDown). Running `npm install leveldown` results in the error:

[code]

Namely, `-std=gnu++0x` is not recognized; not supported on OSX 10.6?

[2015-11-03 05:51] rvagg commented on #232
Yeah, I think so, 10.6 is kind of ancient. Does `npm install leveldown` not find a binary for you? It should grab one so you don't need to compile. Can you post the full npm output please? Perhaps you are running a 32-bit system, in which case I doubt there's a binary for you.

[2015-11-03 18:09] MidnightLightning commented on #232
No, it doesn't find a binary; that was the command I ran to get that error. It is an older MacPro (2008 model). It does have Intel (Xeon) processors (two dual-core 64-bit 3.0 GHz processors), so hopefully is still compatible. That box is stuck on 10.6 due to graphics card not meeting the requirements for 10.7.

Install log posted to http://pastebin.com/mk4f41X6

[2015-11-03 20:45] pietercolpaert commented on #232
Same problem on Ubuntu, same node version

[2015-11-03 21:02] No9 commented on #232
Hey @MidnightLightning That looks like it's installing 0.10.x for some reason?
`npm verb addNamed "0.10.5" is a plain semver version for leveldown
npm verb addNamed ">=0.10.4 <0.11.0" is a valid semver range for leveldown`
among other references in that paste bin.

Which is weird considering it's a plain `npm install leveldown`
Can you run
`npm install leveldown@1.4.2` and confirm the same issue p

[2015-11-03 22:25] MidnightLightning commented on #232
Oh that's it, I'm just way out of date on versions; I was working in projects with a `package.json` that specified `0.10.5`. Upping that to `1.4.2` did find a binary to download, and that works just fine.

[2015-11-03 22:25] #232 closed

[2015-11-05 12:57] appelgriebsch commented on #224
I've managed to have a working x64 build of it on my Windows 7 / VS 2013 work environment... if interested I can make it available for you (the binary, not the environment for sure :)).

[2015-11-05 13:13] No9 commented on #224
Thanks @appelgriebsch but we have binaries Winx64 available here https://github.com/level/leveldown/releases/
These are used and installed by leveldown via prebuild

[2015-11-08 18:40] No9 commented on #224
Hey @thunder7553 we now have Winx86 as prebuilds.
If these workout for you please close this issue thanks

[2015-11-08 21:56] barbalex opened #233 "installation error on windows 10"
leveldown is included in my project as part of pouchdb

when I run `npm install` I get this error:

    C:\Users\alex\ae\node_modules\bufferutil>if not defined npm_config_node_gyp (node "C:\Users\alex\AppData\Roaming\npm\nod
    e_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node  rebuild )
    Die Projekte in dieser Projektmappe werden nacheinander e

[2015-11-08 22:05] juliangruber commented on #233
It can't find the `prebuild` command, which is weird because it should have been installed by npm beforehand. Can you try again after completely removing the `node_modules` forlder in your project?

[2015-11-08 22:06] juliangruber commented on #233
_could_ also be a path issue. can you past the output of `npm ls` __before__ removing node_modules as advised above?

[2015-11-08 22:19] barbalex commented on #233
here is the output from `npm ls`: https://gist.github.com/barbalex/591009d3e9514198eafb

[2015-11-08 22:28] barbalex commented on #233
regenerating node_modules solved the problem, thanks!

[2015-11-08 22:28] #233 closed

[2015-11-11 03:04] obastemur commented on #196
I was trying to port `leveldown-mobile` to Windows UWP and saw this issue showing up. The problem is `stdint.h` under the `port/win` folder of leveldb. That shouldn't be included by MSVS 2013+ (don't yet tested 2012 though)

What I'm planning to add is something like below; (into leveldb.gyp)
[code]
This solves the problem given by @ArtskydJ yet lots of others to go for UWP.. (fingers crossed)

[2015-11-12 13:58] julien-f opened #234 "`prebuild` not found with npm 2.14.7"
Installing only leveldown works but installing both leveldown and prebuild fails:

[code]

[2015-11-12 14:26] julien-f commented on #234
It seems that changing the `install` script to `postinstall` fixes the issue.

[2015-11-12 14:37] ralphtheninja commented on #234
Ouch. I'm on it.

[2015-11-12 14:41] julien-f commented on #234
It seems better with `postinstall` but there still are some issues: I still get the error when I do `npm rebuild` in my project :/

[2015-11-12 14:43] ralphtheninja commented on #234
@julien-f I can fix the `postinstall` quick. Is your project open source or can you produce something that I can run to reproduce?

[2015-11-12 14:59] julien-f commented on #234
The project is open source, but I am trying to figure out how exactly to reproduce the issue.

[2015-11-12 15:08] ralphtheninja commented on #234
Now I remember why I picked `install` instead of `postinstall`. If you do `npm i` inside leveldown source then npm will first try to build everything and then run prebuild --download after that.

[2015-11-12 15:13] julien-f commented on #234
The project is [vatesfr/xo-server#next-release](https://github.com/vatesfr/xo-server/tree/next-release) and the issue mainly occur when the dependencies are bundled as you can see with [this package](https://cloud.vates.fr/index.php/s/t1MrHLI784ucdXr).

[2015-11-12 16:03] ralphtheninja commented on #234
How did you test this?

[2015-11-12 16:09] julien-f commented on #234
First I tested by creating a local copy of leveldown and editing manually the `package.json`: it fixes the first use case (`npm i prebuild ./leveldown`).

I also edited leveldown inside the `xo-server` package but I did not get the same success:
- `npm rebuild` fails with *leveldown@1.4.2 install: `prebuild --download`*
- `npm start` fails with:
[code]

[2015-11-12 16:14] ralphtheninja commented on #234
Are you doing `npm rebuild` because you're targeting multiple platforms?

[2015-11-12 16:16] julien-f commented on #234
Yes, I deploy the software as a single npm package and the `npm rebuild` in `postinstall` ensures (at least AFAIU :p) that compiled package are properly rebuild against the correct version of Node.

[2015-11-12 16:58] ralphtheninja commented on #234
Checking the `xo-server` code but I don't see any `postinstall` step there. Is that the project you're referring to or is it something else? The point of using `prebuild` in leveldown is just that use case, to be able to install binaries for the correct version of node, so I don't see why you need to rebuild. I must be missing something :)

[2015-11-12 18:20] ralphtheninja commented on #234
I know you have multiple issues here but lets address your original problem with `npm i leveldown prebuild` not working. To me this feels like a npm bug since `npm i leveldown` actually works. I have tested this with `npm@3.3.6` and it works fine.

So a workaround for this right now (as I see it) is either:

1. You install `prebuild` and `leveldown` separately (as in not in a single command)
2. Up

[2015-11-12 18:20] ralphtheninja commented on #234
@Level/owners Anyone else feel like chipping in?

[2015-11-12 20:05] ralphtheninja commented on #234
@julien-f As for your other problems. Please open a new issue or ping me on irc (freenode) and we can walk through them together. Github issues are good but not ideal for real time things :)

[2015-11-12 20:28] juliangruber commented on #234
i agree with @ralphtheninja that updating npm should work best

[2015-11-13 17:16] julien-f opened #236 "Issue when (re)installed as a bundled dependency"
leveldown binding are not found when a package using it as a bundled dependency is reinstalled.

When installed for the first time, it works normally:

[code]

When reinstalled, it failed:

[code]

See https://github.com/julien-f/issue-bundled-leveldown for an example.

[2015-11-13 17:39] julien-f commented on #236
Tested with Node 4.2.2 and npm 3.3.12.

[2015-11-16 11:06] thunder7553 commented on #224
@No9 I tested it, and it works! Thank you very much!

[2015-11-16 11:06] #224 closed

[2015-11-16 15:37] julien-f commented on #234
We succeeded in updating npm for all our customers but unfortunately we face another issue (#236) which I do not know if it is a npm or a leveldown issue.

[2015-11-16 15:47] ralphtheninja commented on #234
May I ask why you are bundling your dependencies (and leveldown) in the first place?

[2015-11-16 15:48] julien-f commented on #234
It eases deployment on our customers' machines which often don't have direct access to internet (and therefore npmjs.org).

[2015-11-16 15:52] julien-f commented on #234
I am open to any suggestions :)

[2015-11-16 16:23] ralphtheninja commented on #234
Ok. So how do you deploy it if they don't have direct access to internet? What OS are they running?

[2015-11-16 16:33] julien-f commented on #234
The are running Debian 7 and we are deploying via a custom updater which downloads the packages on our server, sometimes via a proxy.
We could use configure the proxy in npm but it has other issues (e.g. npm/npm#3559) which we do not have with bundle packages.

There is another benefit: it does not matter when the bundled package is installed, it always comes the same versions of the dependencies

[2015-11-16 16:41] ralphtheninja commented on #234
If everyone is running Debian 7, can't you just build the package once and be done with it? That would be even better for them since they don't need a build environment installed.

[2015-11-16 16:42] ralphtheninja commented on #234
That said, it should still work of course. Just saying :)

[2015-11-16 17:14] julien-f commented on #234
They don't all have the same version of Node :/

[2015-11-16 17:31] ralphtheninja commented on #234
Oh of course. Sorry for stupid questions. Just trying to wrap my head around your use case.

[2015-11-16 17:32] julien-f commented on #234
No problem :)

[2015-11-16 17:32] ralphtheninja commented on #234
So we can assume they are running *any* version of node?

[2015-11-16 17:34] ralphtheninja commented on #236
Lets continue here. Closing other issue if you don't mind.

[2015-11-16 17:35] #234 closed

[2015-11-17 01:41] ralphtheninja commented on #236
Precond:

[code]

Script to reproduce. Run in empty directory.

[code]

Retry by wiping `node_modules`:

[code]

[2015-11-19 08:55] julien-f opened #237 "Is it possible/reasonnable to repair the database while in use?"

[2015-11-19 13:46] ralphtheninja commented on #237
@julien-f Why would you need to repair a db that is in use?

[2015-11-19 13:49] julien-f commented on #237
The documentation says that this can also be used to compact the database.

Anyway my question is more: should I protect my users against repairing while the db is in use because leveldown/leveldb does not guard against it?

[2015-11-19 13:53] ralphtheninja commented on #237
Good question. Not sure how you could guard against it though.

[2015-11-19 14:36] No9 commented on #237
@julien-f that sounds like the type of feature that @rescrv might have in https://github.com/rescrv/HyperLevelDB but he would need to confirm (of Deny)

[2015-11-19 14:37] #196 closed

[2015-12-08 00:26] dominictarr opened #239 "DLL open failed when running with electron (windows 10)"
running the prebuilt leveldown with electron fails although with node (4.2.3) it works.

I got this error, it wasn't very informative...

[code]

[2015-12-08 00:26] dominictarr commented on #239
Maybe we can compile leveldown with emscripten? at least javascript is portable

[2015-12-08 01:15] No9 commented on #239
Look at this sample project from @ralphtheninja
https://github.com/Level/electron-demo/blob/master/package.json

It looks like electron is not ABI compatible with node so you have to rebuild level using post install magic
Maybe a feature req for prebuild :)
Do you have a windows build environment?

[2015-12-08 01:20] dominictarr commented on #239
:sob: , no but I want one. the closest I have got so far msbuild.exe is installed and it's not complaining about vcbuild.exe missing but hundreds of errors about all the header files being missing. standard header files like `stdio.h`

[2015-12-08 01:22] dominictarr commented on #239
prebuild+electron works on linux (and mac too i bet)

[2015-12-08 01:53] No9 commented on #239
I see it's for patchwork and that builds a 32bit version :/ I can't do anything right now but I might get 10 mins to run that patchwork build tomorrow and give you the output?

[2015-12-08 03:09] dominictarr commented on #239
That would be awesome, thanks!!!

[2015-12-08 04:19] dominictarr commented on #239
Oh also, have a go at https://github.com/dominictarr/chloridedown we need this for crypto. It's just my branch of sodium - I removed some stuff that didn't seem necessary to get rid of dependencies on make, automake, libtoolize, still builds on linux. Then we'd have a full windows build!!!

[2015-12-08 11:09] ralphtheninja commented on #239
I can't take credit for that :) @juliangruber hacked it together

[2015-12-08 11:13] ralphtheninja commented on #239
That's a good idea. I spoke with @mafintosh about that as well and it would be nice to have something that "just works" for native modules running in the electron environment.

[2015-12-09 01:01] No9 commented on #239
Hey @dominictarr as you suspected it died on chloride down.
I remember trying to move node-sodium to windows gyp build a long time ago and never got it solved :(
And after that I wouldn't fancy trying to take on chloridedown TBH

I see libsodium have since included Visual Studio Build Files and that came into node-sodium at the start of the year.
https://github.com/paixaop/node-sodium/blob/master/

[2015-12-09 04:00] dominictarr commented on #239
@No9 what was the error? Did you use the `simplify` branch?

It really shouldn't be that hard to build sodium - it's just C, there are lots of files, but it has no external dependencies etc. I suspect what makes it hard is toolchain dependencies
for example:

https://github.com/paixaop/node-sodium/blob/master/Makefile#L7-L10
defines.js is a node script that uses regexps to copy some defines from t

[2015-12-09 04:02] dominictarr commented on #239
@No9  if you got a build of leveldown that works with electron on windows that is still progress because at least it means we can run patchwork with the sodium-browserify

[2015-12-09 10:34] No9 commented on #239
@dominictarr I did not see the simplify branch! That is very interesting

It's all meetups and christmas parties for the rest of the week :) but I will try that branch over the weekend.

For the leveldown electron I was hoping to get some prebuild magic from @ralphtheninja or @mafintosh then just run it (He hinted) but if i get bandwidth Ill give it a spin after chloride

[2015-12-09 19:08] dominictarr commented on #239
@No9 awesome thanks!

[2015-12-13 12:44] No9 commented on #239
@dominictarr can you enable issues on chloridedown so we can track the build progress there?

[2015-12-13 21:32] barbalex commented on #213
same problem here

this completely blocks building most of my node projects using `npm i` as they all contain pouchdb which installs leveldown :-(

Somehow this worked on my last windows machine but not on this brand new one.

I had to install VS2015 just for leveldown. If I understand correct, things would work with older versions of VS?

[2015-12-13 22:13] No9 commented on #213
Hi @barbalex

Looks like pouch doesn't use 1.4.3 which is where the patch for 2015 support landed.

https://github.com/pouchdb/pouchdb/blob/master/package.json#L45
@nolanlawson can we bump to 1.4.3 in pouchdb it only contains the windows 2015 support?

Given that we do support 2015 I don't think there is a need to update the docs

[2015-12-13 22:16] barbalex commented on #213
thanks!

[2015-12-13 22:17] No9 commented on #213
OK Deleted the previous message because I got it wrong and thought 1.4.3 was out
@ralphtheninja can we do a release and then @nolanlawson can bump 1.4.3

[2015-12-13 23:31] nolanlawson commented on #213
@No9 We use Greenkeeper for PouchDB, so we'll get the new leveldown whenever someone releases it. :smiley:

[2015-12-14 12:41] ralphtheninja commented on #213
Absolutely. I didn't think we needed a new release, sorry for the inconvenience :)

[2015-12-14 12:45] ralphtheninja commented on #213
@No9 I'll take this opportunity to bump dependencies as well

[2015-12-14 13:04] ralphtheninja commented on #213
1.4.3 released, awaiting @mafintosh to push the button for prebuilts

[2015-12-14 14:14] No9 commented on #213
OK I can still recreate the issue @barbalex is seeing on the 1.4.3 release.
Looks like this can be a little bit flaky
https://github.com/Level/leveldown/commit/13e7034105100c4cebf940a78fb61c0f3fdffb23#diff-fe74db22d3e05f3e0fb5effc5b4df636R30

If the user sets the environment variable MSVS_VERSION to 2015 then it works as expected
@obastemur  Do you have anything to add or should I just update the

[2015-12-15 02:05] #227 closed

[2015-12-15 02:06] #222 closed

[2015-12-23 22:59] raymens commented on #213
I'm still having issues with the MSVS_VERSION set to 2015. Other native libraries are compiling just fine.
![image](https://cloud.githubusercontent.com/assets/1369454/11986546/17ab5b0c-a9d1-11e5-9559-5db7cabfae27.png)

[2015-12-23 23:54] ralphtheninja commented on #213
@raymens What OS are you running and which version of leveldown are you trying to install? There should be prebuilt binaries available for most OSes now.

[2015-12-23 23:56] raymens commented on #213
@ralphtheninja W10 and trying to install latest (1.4.3)

[2015-12-23 23:58] ralphtheninja commented on #213
@raymens I'm curious why you aren't getting one from https://github.com/Level/leveldown/releases/tag/v1.4.3 .. mind doing `npm i leveldown --verbose` and posting a gist?

[2015-12-24 00:43] ralphtheninja commented on #236
@julien-f Closing this. Iirc we came to the conclusion that it was a npm problem, right? Re-open if not. Cheers.

[2015-12-24 00:43] #236 closed

[2015-12-24 00:48] ralphtheninja commented on #119
@nolanlawson Is this still a documentation issue in your opinion?

[2015-12-24 00:50] ralphtheninja commented on #37
@dominictarr @mcollina Can this issue be closed?

[2015-12-24 01:06] nolanlawson commented on #119
@ralphtheninja I'd say so, yeah. It's just a bit unintuitive I think. I think we can safely close this issue.

[2015-12-24 01:06] #119 closed

[2015-12-24 01:15] ralphtheninja commented on #119
@nolanlawson I'd be happy to update the docs. Any suggestions to better wording?

[2015-12-24 03:35] nolanlawson commented on #119
I actually don't see `asBuffer` documented anywhere on https://github.com/rvagg/node-levelup, but I'd say it just should specify that if you really want a `Buffer`, you have to set `valueEncoding` to `'binary'`.

[2015-12-24 07:49] 3tgame commented on #213
I use Win10 and VS2015, I have the same problem.
After downloaded the Prebuilt binaries, how to use the Prebuilt binaries?
some output of npm i leveldown --verbose are:

npm info lifecycle tar@2.2.1~install: tar@2.2.1
install:fstream           ▐ ╢█████████████████████████████████████████████npm info lifecycle glob@4.5.3~install: glob@4.5.3
install:tar               ▀ ╢█████████████████████████████

[2015-12-24 15:19] ralphtheninja commented on #119
@nolanlawson Does this look ok? https://github.com/ralphtheninja/levelup/commit/50ba1fef33837d836310c6bbab76101fa567af02

[2015-12-24 16:01] ralphtheninja commented on #213
It seems there is a problem with `leveldown-v1.4.3-node-v47-win32-x64.tar.gz` which does exist. The error we get is `unexpected end of file`.

@No9 Any idea what's going on?

[2015-12-24 22:15] tantaman opened #242 "Change storage backend?"
Is there a way to change the backend that leveldown uses to rocksdb instead of leveldb?  level-rocksdb seems woefully out of date and broken.

[2015-12-25 02:12] ralphtheninja commented on #242
It doesn't have to do with `level-rocksdb` at all since it merely bundles the `levelup` and `rocksdb` modules.

The backend is in this repository on the `rocksdb` branch. What needs to be done is to make that branch play nice with the latest `nan`.

I personally don't have any experience of this work but I could try taking a look to see what it takes to make that branch compile. We should probably

[2015-12-28 05:24] dominictarr commented on #37
this is really old and I havn't encounted a problem like this recently, so it's probably okay to close.

[2015-12-28 14:39] ralphtheninja commented on #37
:+1:

Just trying to clean up some stuff.

[2015-12-29 01:34] limoragni opened #243 "Download prebuild for a different target platform than the one installing the package"
Is it possible to tell `prebuild` to target a different OS than the one I'm currently using?

I'm using electron and I'm building all the releases from linux. Before I installed leveldown I was able to build for OSX and WIN. I was told that using `node-pre-gyp install --target_platform=darwin --target_arch=x64 --target={electron_version}` I could change the target platform, but you are not using n

[2015-12-29 17:04] ralphtheninja commented on #243
We're discussing it here https://github.com/mafintosh/prebuild/issues/61 .. it's sort of tricky to make it "just work" since electron might be installed globally, or locally (https://github.com/mafintosh/electron-prebuilt), which means that if you want to make `prebuild` do this automatically you would have to do it in the postinstall step.

An alternative would be to expose some arguments where y

[2015-12-30 02:25] limoragni commented on #243
Ok, I see. So in order to use leveldown with electron you need to build against the electron runtime? Wouldn't be enough if you could download a prebuild for a particular node/os? Like `prebuild install --download --target_platform=darwin --target_arch=x64 --node_version=4.1.1` I have little experience with cross platform development since I come from a web background. But if I install leveldown o

[2015-12-30 11:52] ralphtheninja commented on #243
Correct. Since electron is a separate environment all native modules needs to be built against that environment. This has to do with what abi (application binary interface) version that environment has, which essentially depends on what kind of v8 it was based on (afaik).

The reason this works is because node and electron have the same abi version

Nope. You still need to build for each platform,

[2015-12-30 19:19] madskonradsen opened #244 "Failed at the leveldown@0.10.5 install script 'node-gyp rebuild'."
I'm having issues installing level, which seems to boil down to leveldown-install-failing.

[npm-debug.txt](https://github.com/Level/leveldown/files/75101/npm-debug.txt)

[code]

[2015-12-30 19:36] tkompare commented on #244
Same here.

tom$ npm install leveldown

  CXX(target) Release/obj.target/binding/src/binding.o
In file included from ../src/binding.cc:8:
../node_modules/nan/nan.h:261:25: error: redefinition of '_NanEnsureLocal'
NAN_INLINE v8::Local<T> _NanEnsureLocal(v8::Local<T> val) {
                        ^
../node_modules/nan/nan.h:256:25: note: previous definition is here
NAN_INLINE v8::Local<T> _NanEnsur

[2015-12-30 23:31] danburzo commented on #244
@madskonradsen I've updated https://github.com/danburzo/every-street/ to include the latest versions of levelup/leveldown, installing the dependencies should work now!

[2015-12-31 08:24] madskonradsen commented on #244
Fixed

[2015-12-31 21:48] ShadowC-X-11 commented on #213
I have the same problem as Raymens, but I'm on x86. My problem seems to arise because of no ia32 build existing. Pretty sure you could just use the x86 compilation, just have a copy named `leveldown-v1.4.3-node-v47-win32-ia32.tar.gz`

[2016-01-01 01:28] ralphtheninja commented on #213
The only purpose is that it was never built

[2016-01-01 15:52] rizoom commented on #244
So required dependencies for every-street have been updated but the core issue still remains?
Because npm install leveldown@0.10.5 still fails for me (with the same 'redefinition' error)

[2016-01-01 15:53] madskonradsen commented on #244
Hmm... true... reopening!

[2016-01-01 16:17] ShadowC-X-11 commented on #213
Well, will this bug be fixed soon?

[2016-01-01 16:53] ralphtheninja commented on #213
Technically it's not a bug since you can compile the code yourself (assuming your environment is setup for this).

@No9 @mafintosh We had `ia32` builds for `1.4.2` but it seems they aren't available for `1.4.3`. Can anyone of you fix this?

[2016-01-01 17:13] ralphtheninja commented on #244
Is there any special reason why you are using an older version of leveldown?

[2016-01-01 17:22] madskonradsen commented on #244
I'm not sure if you mean @rizoom or me, if me, that was because it was part of my package.json-file. Even though it's an old version, it should still be able to install, i guess?

[2016-01-01 17:34] ralphtheninja commented on #244
I guess I meant both :)

It's probably easier if you just update to `^1.4.3`. You'll have support for prebuilt binaries as well so the compile step is no longer needed. There is a `0.10.x` branch but it has not been updated to support node 5.

[2016-01-01 17:36] ralphtheninja opened #246 "should we update 0.10 branch to support node 5?"
Any thoughts on this?

cc @Level/owners

[2016-01-01 18:10] rizoom commented on #244
Yep it was the same for me, the dependency tree was requesting `0.10.5`, but the project dependencies have been updated to use `1.4.3`.
I am perfectly fine with just having to update dependencies. I saw that you opened a question issue about node v5 support for `0.10.x` and I'll let the people involved in this project decide about the v5 support for that branch.

[2016-01-01 20:34] juliangruber commented on #246
maybe let's wait if there's interest?

[2016-01-01 22:51] ralphtheninja commented on #246
https://github.com/Level/leveldown/issues/244

[2016-01-01 22:55] juliangruber commented on #246
ah I didn't remember that. +1 from me then!

[2016-01-02 13:12] ralphtheninja commented on #246
It's sort of annoying though that if we fix this and publish e.g. 0.10.6 then that will be the latest release for leveldown

[2016-01-02 13:36] juliangruber commented on #246
we can publish under the 0.10 tag so people only get it if they want it

[2016-01-02 13:36] juliangruber commented on #246
but yeah i'm fine with people upgrading, unless there's a really compelling reason to support the old version

[2016-01-02 13:59] mafintosh commented on #246
i'd personally just support the latest version.

[2016-01-02 14:07] ralphtheninja commented on #246
Ok, so lets leave this hanging for a while, until someone *really* needs it.

[2016-01-03 01:36] No9 commented on #213
Sorry @ralphtheninja long story but my 32 builder has died and I won't have another win machine for a while.

[2016-01-03 02:07] ralphtheninja commented on #213
Ok! No worries :) Anyone that would like to help out with this?

[2016-01-03 11:21] strrchr opened #247 "Compiler error when using Visual Studio 2015 on Windows 7"
[code]
The errors are like the above.
I modify some part of deps\leveldb\port-libuv\port_uv.h from
[code]
to
[code]
Then the compilation is OK.
Is it the correct solution?
It would be nice if the problem is fixed.

[2016-01-07 12:44] richorama commented on #244
Hey, could you publish which versions of node are supported? I just tried 5.4.0 and 4.2.4 and got similar compilation errors (I realise this is due to the constantly changing V8 API).

[2016-01-07 13:10] ralphtheninja commented on #244
@richorama I think for 0.10.x we only support 0.10, 0.12 and iojs versions up to 3

[2016-01-07 14:58] richorama commented on #244
thanks @ralphtheninja  :¬)

[2016-01-07 18:45] ralphtheninja commented on #246
https://github.com/Level/leveldown/pull/248

[2016-01-07 18:45] #246 closed

[2016-01-07 19:37] ralphtheninja commented on #244
I've published `0.10.6` which should work fine with node 4 and 5. Let me know if there are any problems.

[2016-01-07 19:37] #244 closed

[2016-01-22 10:07] TheGoGlider commented on #213
Having the same problems as others here, whenever I try `npm install leveldown` it gives me the same error which was showed by @raymens

[2016-01-23 17:13] obastemur commented on #213
Sorry, somehow missed this one. I'm on it

[2016-01-24 07:24] obastemur commented on #247
Looks like I forgot bringing the fix from `leveldown-mobile` https://github.com/Level/leveldown-mobile/blob/master/deps/leveldb/port-libuv/port_uv.h#L29-L33

@strrchr almost correct solution. I'm going to PR `port_uv.h` from leveldown-mobile and see what other folks will say.

[2016-01-24 11:47] ralphtheninja commented on #247
If it compiles the tests run it should be OK. At least an improvement from not compiling :)

[2016-01-25 10:31] #213 closed

[2016-01-25 10:31] #247 closed

[2016-01-25 13:35] ralphtheninja commented on #213
@kde99 @thunder7553 @barbalex @raymens @TheGoGlider

Can you guys make sure you can compile the code now?

[2016-01-25 14:08] raymens commented on #213
@ralphtheninja @obastemur yes, I've just compiled Leveldown@1.4.1. Thanks!

[2016-01-25 14:30] ralphtheninja commented on #213
Released in 1.4.4

[2016-01-25 14:43] raymens commented on #213
Oops, my bad. It is indeed 1.4.4 :)

[2016-01-25 18:06] kraihn commented on #213
@ralphtheninja, I'm not sure who to contact, but the win32 prebuilt files haven't been uploaded to the release for 1.4.4 in GitHub. I'm having issues on my build server because it can't download non-existent files.

[2016-01-25 18:14] kraihn opened #250 "Release v1.4.4 is missing win32 prebuilt binaries"
Has win32 downloads: https://github.com/Level/leveldown/releases/tag/v1.4.3
<img width="811" alt="screen shot 2016-01-25 at 1 15 43 pm" src="https://cloud.githubusercontent.com/assets/737853/12559937/ec834f4e-c365-11e5-9962-5678d9c26ddf.png">

Doesn't have win32 downloads: https://github.com/Level/leveldown/releases/tag/v1.4.4
<img width="818" alt="screen shot 2016-01-25 at 1 16 13 pm" src="https:

[2016-01-25 18:33] ralphtheninja commented on #213
@kraihn I just built them. Try again please.

[2016-01-25 18:38] okv commented on #200
Hi guys.
Seems newer builds of leveldown (at least 1.4.3, 1.4.4) do not work on systems with old glibc with same error:

`Error: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /var/lib/openshift...`

i found that during deploy to openshift (uses glibc 2.12).

I downgrade to leveldown 1.4.0 and prebuild binary works just fine.

[2016-01-25 19:26] kraihn commented on #213
@ralphtheninja, it's working again. Thanks!

[2016-01-25 19:26] kraihn commented on #250
The missing files have been uploaded.

[2016-01-25 19:26] #250 closed

[2016-01-25 19:48] ralphtheninja commented on #200
@okv But you are able to build it right?

[2016-01-25 20:36] ralphtheninja commented on #200
@okv Quick question. Are you using 64 bit or 32 bit? Just so I know what to focus on first.

[2016-01-25 20:45] okv commented on #200
@ralphtheninja looks like openshift cloud service just does `npm install`in the project dir during deploy (which starts after my push to repository). I can't find how to pass params to that command. Maybe `--build-from-source` can be passed via some env variable? It's 64 bit system.

[2016-01-25 20:47] ralphtheninja commented on #200
You shouldn't need to. If `prebuild` fails it should fallback to a compile step. Is that not happening?

[2016-01-25 20:48] ralphtheninja commented on #200
@okv Ok. I've rebuilt the 64 bit binaries for linux. Please try again with `leveldown@1.4.4`

[2016-01-25 21:06] okv commented on #200
@ralphtheninja it doesn't fail during install it fails at runtime (same thing as in my original post, at the begin of that issue). Tried 1.4.4 again - still doesn't work, same error.

[2016-01-25 21:09] ralphtheninja commented on #200
@okv Please make sure to do `rm ~/.npm/_prebuilds`

[2016-01-25 21:23] ralphtheninja commented on #200
@okv Just to make sure you aren't using a cached version ..

[2016-01-25 21:28] okv commented on #200
@ralphtheninja that helped, it's working, thanks again :)

[2016-01-25 21:28] #200 closed

[2016-01-25 21:32] ralphtheninja commented on #200
Pheeew!

[2016-01-26 16:00] #207 closed

[2016-01-31 15:01] gritzko commented on #242
I think, I can help you with the effort.
RocksDB seems more production-ready for server-side loads.
AFAIK, leveldb was mostly envisioned as a client-side thing.

[2016-02-01 01:03] #242 closed

[2016-02-04 01:10] johnstontrav commented on #244
I have the same issues:

node --version
v5.5.0

package.json
{
  "description": "Test",
  "dependencies": {
    "level": "^1.4.0",
    "multilevel-http": "^0.0.2"
  }
}

[npm-debug.log.zip](https://github.com/Level/leveldown/files/116710/npm-debug.log.zip)

[2016-02-04 08:49] ralphtheninja commented on #244
@johnstontrav This is due to `multilevel-http` using an old version of `levelup`. Please post an issue here https://github.com/juliangruber/multilevel-http/issues

cc @juliangruber

[2016-02-12 00:46] ralphtheninja commented on #56
@KenanSulayman Is this still a problem? The please re-open if that's the case.

[2016-02-12 00:46] #56 closed

[2016-02-12 00:48] ralphtheninja commented on #102
See https://github.com/level/leveldown-mobile

[2016-02-12 00:48] #102 closed

[2016-02-12 00:49] #108 closed

[2016-02-12 16:32] fergiemcdowall opened #253 "Travis: make: g++-4.8: Command not found"
leveldown@1.4.4

Much errorness when building on Travis today. Is this a problem with Travis, or with leveldown? I havent changed my build config. Is there a new magic incantation to get leveldown to build on Travis?

https://travis-ci.org/fergiemcdowall/search-index/jobs/108820234

[2016-02-12 16:38] ralphtheninja commented on #253
@fergiemcdowall You need at least gcc 4.8 to build c++11 code, see leveldowns travis file:

https://github.com/Level/leveldown/blob/master/.travis.yml#L5-L13

[2016-02-12 16:40] ralphtheninja commented on #253
On a side note. Any special reason you are building it? There should be prebuilt binaries for you.

[2016-02-12 16:42] ralphtheninja commented on #253
If you don't need to build it, you can remove the following lines from your `.travis.yml` https://github.com/fergiemcdowall/search-index/blob/master/.travis.yml#L15-L17

[2016-02-12 16:43] fergiemcdowall commented on #253
Oh- thats a good tip- trying it now...

[2016-02-12 16:44] ralphtheninja commented on #253
Hmm, I just noticed that you are in fact using gcc 4.8, so it *should* work building it with your current `.travis.yml`.

[2016-02-12 16:46] fergiemcdowall commented on #253
Ahhhh... trying it anyway just in case. Yes, my `.travis.yml` has been working up until now

I wonder if Travis is just having a bad day

[2016-02-12 16:46] ralphtheninja commented on #253
Travis often have bad hair days :/

[2016-02-12 16:48] fergiemcdowall commented on #253
It does indeed- I think that was my cue to pack up and go home!

Thanks for the help :)

[2016-02-12 16:49] ralphtheninja commented on #253
Let me know how things work out!

[2016-02-12 16:49] fergiemcdowall commented on #253
will do

[2016-02-13 07:04] fergiemcdowall commented on #253
It magically started compiling on Travis again all by itself :tada:

Maybe Travis was having a bad hair day

[2016-02-13 07:04] #253 closed

[2016-02-13 08:29] ronyrun opened #254 "Installation on Ubuntu Error"
Hello,

Sorry I'm not an expert concerning the node installation....
I tried to launch  prebuild install and get this error,

would you please help me ?
node --version v5.6.0

When trying to install leveldown :

[code]

with prebuild installed globaly I tried that :
[code]

[2016-02-13 13:11] ralphtheninja commented on #253
It did, I had the same problems yesterday. Happy it worked out!

[2016-02-13 13:17] ralphtheninja commented on #254
Hmm for some reason prebuild can't find any prebuilts for you, but there should be prebuilt for Ubuntu. I'd really like to nail this one. Can you try doing

`npm install leveldown --verbose`

And put that output in a gist and share the link here?

[2016-02-13 13:23] ralphtheninja commented on #254
It would also be useful to know the values of `process.arch`, `process.platform` and `process.versions`, just type `node` to open the repl. For me this gives:

[code]

[2016-02-13 15:19] ralphtheninja commented on #254
@ronyrun Are you behind a proxy?

[2016-02-13 15:42] alexcheninfo commented on #254
I'm not able to install Leveldown either (Ubuntu 15.10 on a 64 bit AMD machine):

[code]

[2016-02-13 15:50] ralphtheninja commented on #254
@alexcheninfo Would you mind opening up a separate issue for this? I don't think this is related to this issue.

[2016-02-13 15:53] alexcheninfo opened #255 "Leveldown not installing in Ubuntu 15.10 (64 bits)"
I'm not able to install Leveldown on Ubuntu 15.10 (64 bit AMD machine):

[code]

I think there's a problem with the binaries for the 64bit version of Leveldown?

[2016-02-13 15:53] alexcheninfo commented on #254
@ralphtheninja Okay, I opened a new issue.

[2016-02-13 15:55] mafintosh commented on #255
hmm looks like an npm issue to me. could you try upgrading to latest npm and see if that fixes it?

[2016-02-13 15:58] ralphtheninja commented on #255
I just tried using node 5.0.0 and npm 3.3.6 and it works fine here, so I'm a bit perplexed about this.

[2016-02-13 16:10] ralphtheninja commented on #255
@alexcheninfo Can you try wiping your `~/.npm` folder and retry?

[2016-02-13 16:12] ralphtheninja commented on #255
@alexcheninfo Or `npm cache clear`

[2016-02-14 08:39] ronyrun commented on #254
Hello, Sorry for the late answer.
Let me provide everything !
I'm not Behind a proxy.

[code]

Here is the end of the putty output (I'm figuring out how to get the whole stuff I'm on it)

https://gist.github.com/ronyrun/1c11af5459741a83f631

[2016-02-14 12:55] ralphtheninja commented on #254
Ok. That makes total sense in fact :) I'll make sure to get some prebuilts done for arm. In the meantime you can do

`sudo apt-get install build-essential`

so you can compile the binaries. You need this anyway for all other native modules on npm.

[2016-02-14 12:56] ralphtheninja commented on #254
@ronyrun Out of curiosity. What kind of machine/device are you running on?

[2016-02-14 13:48] ronyrun commented on #254
@ralphtheninja I'm on a VM on Scaleway

https://www.scaleway.com/pricing/

4 Dedicated ARM Cores
2GB Memory
50GB SSD Disk
1 Reserved public IPv4

[2016-02-14 13:49] ronyrun commented on #254
Thanks I'll give a try with this command !

[2016-02-14 17:46] ralphtheninja commented on #254
Arm binaries uploaded

![screenshot from 2016-02-14 18 46 29](https://cloud.githubusercontent.com/assets/308049/13035253/33b5569c-d34b-11e5-9902-8ca286432986.png)

@ronyrun Let me know how things goes

[2016-02-14 17:54] ronyrun commented on #254
Ok

[2016-02-14 21:10] juliangruber opened #257 "random travis fails"
this week two builds failed but passed on 2nd run. different node versions, different errors. we need to investigate what's happening there.

i guess we'd start by trying to cause build failure locally?

[2016-02-14 22:57] ralphtheninja commented on #257
+1

[2016-02-14 23:16] rvagg commented on #257
would removing io.js help?

[code]

These are no longer supported upstream

[2016-02-14 23:18] juliangruber commented on #257
iirc there was one on node 4 as well, but anyway +1 on removing unsupported versions

[2016-02-14 23:21] rvagg commented on #257
can we put some links in here to failed builds as they happen to collect the pattern?

[2016-02-14 23:30] juliangruber commented on #257
unfortunately it seems like triggering a rebuild will overwrite the previous build..at least i couldn't find any in the travis build history

[2016-02-14 23:32] juliangruber commented on #257
this is one that failed first: https://travis-ci.org/Level/leveldown/jobs/108674087

[2016-02-14 23:33] ralphtheninja commented on #257
We could make `travis` branch and just re-run it until it fails, save the log, re-run etc. Maybe also contact travis to get some more information from them?

[2016-02-14 23:33] juliangruber commented on #257
https://twitter.com/juliangruber/status/699013604205600768

[2016-02-14 23:33] juliangruber commented on #257
@ralphtheninja that sounds perfect!

[2016-02-14 23:33] ralphtheninja commented on #257
I can start by removing those.

[2016-02-14 23:36] ralphtheninja commented on #257
https://github.com/Level/leveldown/pull/258

[2016-02-14 23:44] rvagg commented on #257
OK, so how about we use this as a dumping ground for failed builds, when you see one fail, capture the output around the failure and paste it in here.

[2016-02-14 23:45] ralphtheninja commented on #257
+1 Put it in a gist and link it here.

[2016-02-14 23:51] ralphtheninja commented on #254
@ronyrun Any progress? If it works fine, just close this issue.

[2016-02-14 23:52] ralphtheninja commented on #243
https://github.com/juliangruber/require-rebuild

[2016-02-14 23:52] #243 closed

[2016-02-15 08:01] ronyrun commented on #254
Hello,

the installation is successful with a `npm install leveldown` on my environment !
Thank you very much.

[2016-02-15 08:01] #254 closed

[2016-02-15 13:43] alexcheninfo commented on #255
@ralphtheninja Hey, it worked. I did that and removed node_modules and installed everything from scratch. Everything works fine now.

(Sorry, I think it was my fault. I somehow install the 32 bit version of Leveldown on my 63 bit machine).

[2016-02-15 13:56] juliangruber commented on #255
great!

[2016-02-15 13:56] #255 closed

[2016-02-15 13:58] ralphtheninja commented on #255
Nice. No worries. Just happy things are working out for you.

[2016-02-21 11:48] obastemur commented on #192
Thanks for all the inputs. No issue left. Closing.

[2016-02-21 11:48] #192 closed

[2016-03-04 05:25] braydonf opened #261 "Aggregation of key/values?"
After testing using the `highWaterMark` option for the db iterator with modifications to give the entire cache array instead of each item individually I was able to see up to ~8x speed improvements.

Would it be useful to have an additional iterator/aggregation method to help in the case that each key/value isn't needed but an aggregate? For example:

[code]

[2016-03-04 15:28] ralphtheninja commented on #261
This looks cool. What would `db.aggregator()` look like/do more concretely?

[2016-03-05 03:19] dominictarr commented on #261
@braydonf can you describe the modifications? there is a pretty high bar for adding a feature to level, but if you can show that something is slowing it down (especially by 8x) then that would be something we are _very interested_ in.

[2016-03-05 20:17] braydonf commented on #261
@dominictarr Changes were to return the cache instead of iterating over each item in the cache ( https://github.com/braydonf/leveldown/commit/ae98b0676454cae268c551ef97b387601913dea8 ) However after running these again the performance difference isn't as significant as a previous attempt:
[code]

[2016-03-05 20:28] braydonf commented on #261
@ralphtheninja I was imagining that iteration over all of the key/values and aggregation would all be done as an AsyncWorker. Would need to test to see the performance gain.

[2016-03-05 21:06] braydonf commented on #261
From the benchmarks at https://github.com/google/leveldb sequential reads should be around 0.476 micros/op (1 million sequential reads should be ~500ms?)

[2016-03-07 20:39] chjj opened #262 "Memory leak on batch writes and gets (levelup+leveldown)."
I'm retrieving many bitcoin txs from my database in raw binary. I saw very high memory usage after requesting 800+ blocks worth of txs from the db and couldn't figure it out.

I finally tried simply throwing away the value after all the get calls and it still filled up memory something awful (I'm talking 1gb+ when it there should have been <100mb mem usage after the operation).

I tried to replica

[2016-03-07 22:36] rvagg commented on #262
leveldb can be a memory hog depending on what you throw at it, it increases over time but eventually stabilises but you never really get it back. It's not a leak per se cause you shouldn't be able to see it keep on going up. If you repeat your tests over and over in the same process on the same db what does the memory profile look like? Stick that whole batch + get section into a loop that repeats

[2016-03-07 23:06] chjj commented on #262
Thanks for the reply.

I see. It does use more memory if I run the db.get loop several times, but not as linearly as I'd expect. With my actual data as opposed to the fabricated data above, running it once (reading ~20mb of data from 46k records) results in 760mb of resident mem usage for the node process. Running it 8 times results in 1.2gb of res mem usage for the process. Running it 16 times us

[2016-03-07 23:09] rvagg commented on #262
Can you compare RSS to `heapUsed` inside Node when looking at growth? that might be instructive.

[2016-03-07 23:27] chjj commented on #262
Hmm, you're right. The leveldb's mem usage is _not_ increasing when I do the loop in parallel. Looks like all the keys/strings in js-land just aren't being cleaned up by v8 before I call memoryUsage().

[code]

This is still sort of a pain. Is there any way to force leveldb to not eat all my memory?

[2016-03-07 23:45] rvagg commented on #262
The heapUsed is a bit of a concern, I wouldn't expect it to grow like that.

What happens if you switch to the native batch functionality:

[code]

In theory that should use less V8 memory because it doesn't have to maintain that big array and instead pushes management of chunks you're writing down into leveldb (this uses the native `Batch` functionality more directly than the classic `db.batch(ar

[2016-03-07 23:54] chjj commented on #262
Sorry, I should have been clear. What I posted above were the results db.get() calls only. The process did no writes at all. I was testing against data that already exists (my actual data). I can try using native batches for writing the original fabricated test data, but the real memory hog seems to be the reads.

[2016-03-08 00:04] rvagg commented on #262
ah, interesting, so some context here that may be important—the async operations all use Node's thread pool, so when you're queueing up 46045 operations you're basically throwing them at the 4 threads that Node has available and letting it schedule them. They don't chunk either so when a read is happening it's occupying that thread for that entire time (which is really quick). So part of your memo

[2016-03-08 00:09] chjj commented on #262
Yeah, makes sense that it would be strain on the thread pool. Is there any info on leveldb memory usage? After doing a few googles, I can't seem to find anyone with a similar issue (seeing leveldb allocate 800mb to read 20mb of data). It's very discouraging.

[2016-03-08 00:16] rvagg commented on #262
no, I can't think of a good resource on this, _but_ in my experience it should settle down over time, particularly as you have churn and the table files start to sort themselves out a bit more, depending on your app you could even seen it come right back down again over time, so there's an initial peak and then an eventual reduction down to something more reasonable. that initial period, however,

[2016-03-08 00:27] chjj commented on #262
I see. I'll keep an eye on my process and see what happens. I'll continue searching for some info for this. I guess adjusting my swapiness will be my solution to avoid frustration for now. Thanks for all the help. Marking as closed now.

[2016-03-11 22:28] chjj commented on #262
Reopening. In practice, leveldb doesn't seem to reach any ceiling for memory usage. If I leave my blockchain download running all night it eventually OOMs the process. When the process was killed by the kernel, there was 15mb on the js heap (normal for my process) and 2.5gb+ on the native heap. I've ruled out a Buffer leak in my own code by downloading and parsing the same amount of data, but not

[2016-03-11 23:42] ralphtheninja commented on #262
@chjj It seems we have a good test case at least.

What tools do we have to our disposal to track this down?

[2016-03-12 07:15] chjj commented on #262
@ralphtheninja, I've tried altering a lot of my code to rule things out. I can't seem to find the problem, and I can't reproduce it perfectly because that would mean fabricating a database with records inserted and retrieved in the same volume a blockchain sync would. v8-profiler is obviously useless for this, and valgrind's memleak check didn't seem to find anything obvious in leveldown. I really

[2016-03-15 23:23] chjj commented on #262
If I don't store or retrieve the coins (many thousands to hundreds of thousands of records eventually), memory usage is stable. I guess this must be a relatively "small" leak that most people using leveldown don't notice unless they have a massive amount of records in their db. I'm going to play around with this some more.

@rvagg, any chance the lmdb binding will be updated? I'm very tempted to t

[2016-03-16 10:29] MaxGfeller commented on #190
I just stumbled upon this issue because it's one of the first Google search results for "electron + leveldown".

Just wanted to note that what @mafintosh said is totally correct; leveldown is being built against your local Node version on a `npm install`. That means if the Node version Electron uses isn't the same as your local one, it won't work.

You can rebuild `leveldown` as follows:

[code]

[2016-03-16 11:23] rvagg commented on #262
I'm happy to provide guidance for anyone that wants to try and upgrade lmdb, I don't even recall what state its in. The NAN 2 API change regex set was built in to https://github.com/nodesource/upgrade-utils if you want to start from an automated replacement (won't do the full job but it's a good start).

[2016-03-16 21:49] ralphtheninja commented on #262
I can have a look tomorrow to see what's needed to get it up to par.

[2016-03-17 23:57] chjj commented on #262
PR up: https://github.com/rvagg/lmdb/pull/13

[2016-03-19 00:31] chjj commented on #262
Update: This really must just be the nature of leveldb (or leveldb itself has a leak in it): I ripped the leveldb dep out of leveldown and replaced it with rocksdb (the leveldown code itself is more or less untouched), and I now have totally reasonable memory usage (66mb instead of 800mb-1gb). So much for leveldb. Closing.

[2016-03-19 00:31] #262 closed

[2016-03-27 11:04] klausgao commented on #190
@MaxGfeller Hi, could you please tell me your node version, npm version, leveldown version and some thing to notice? I tried all the guide and still failed.

[2016-03-27 11:05] klausgao commented on #190
@MaxGfeller I even can't install electron-rebuild. my env is win10 x64 + vs2015.

[2016-03-27 15:08] klausgao commented on #190
OK finally I solved. @MaxGfeller 's solution is almost right without some mistakes. now I write my own.
1. delete your whole node_modules.
2. npm install
3. get into node_modules/leveldown.
4. node-gyp rebuild --target=0.37.2 --arch=ia32 --dist-url=https://atom.io/download/atom-shell
notice it should be ia32, not x86.
BTW, don't know why, electron-rebuild always fail in my machine.

[2016-03-29 13:47] appelgriebsch opened #266 "Switch to node-pre-gyp?"
Hey,

I've seeing various issues when trying to package an ElectronJS application with PouchDB & LevelDB adapter. It all comes down to the prebuild command loading the wrong version of the prebuild binary (module version 46 from nodejs 4.4.x vs. version 47 in Electron 0.37.x).

I just checked the sqlite module (that works flawlessly in this setup) and they are using another prebuild distribution l

[2016-03-29 15:43] ralphtheninja commented on #266
@appelgriebsch Mind describing the use case / issues in more detail? I'd personally much rather try fixing prebuild to play nice with electron-packager.

[2016-03-29 18:02] rvagg commented on #266
seems like something to take up with prebuild tbh, if there's a problem there we'd all be better served by having it resolved at the source

[2016-03-30 12:20] appelgriebsch commented on #266
I've created an electron-boilerplate project (github.com/appelgriebsch/electron-boilerplate) that uses pouchdb and leveldown. When doing a npm install it automatically fetches the packages and when processing leveldown also downloads the prebuild binary, that matches the local nodejs environment (that's nodejs 4.4.1 with module version 46 in my case). After fetching all application dependencies I

[2016-03-30 13:30] ralphtheninja commented on #266
@appelgriebsch Got it. Does it matter which branch I use in `electron-boilerplate` to reproduce it? I.e. any out of `angularjs` or `reactjs` I guess?

[2016-03-30 13:43] mafintosh commented on #266
@ralphtheninja this gist is a simple reproducible test case as well, https://gist.github.com/mafintosh/aabf2bfd02c87902619f1ebec119433b

[2016-03-30 13:44] appelgriebsch commented on #266
@ralphtheninja jepp, best to try it with the angularjs branch

[2016-03-30 20:53] juliangruber commented on #266
for me https://github.com/juliangruber/require-rebuild has been working really well, mind giving it a try? just include `require('require-rebuild')()` before any other dependencies and start your app.

[2016-03-31 19:24] No9 commented on #266
Should mention that I am seeing issues with node-pre-gyp as well. False positive installs being the main one. I don't think there is a panacea here

[2016-04-04 21:17] myf opened #268 "ARMv8 AARCH64 build fails"
trying to install leveldown on an odroid c2 board . Archlniux is installed with `aarch64` architecture. The build process failed with the following error:

[code]

It seems that leveldb on this architecture is not implemented. However, looking at the leveldb code at https://github.com/google/leveldb/blob/master/port/atomic_pointer.h it seems that `ARCH_CPU_ARM64_FAMILY` is defined. I was also able

[2016-04-04 21:39] myf commented on #268
i think i answered my own question. The leveldb repo master do have support for `aarch64`. There were two commits after the release of `1.18` [this one](https://github.com/google/leveldb/commit/c4c38f9c1f3bb405fe22a79c5611438f91208d09) provides `aarch64` support and [this one](https://github.com/google/leveldb/commit/ceff6f12152785a54885a47db349a6d8dfd0ce2c) provides `MIPS` support.

do we wait ti

[2016-04-06 09:51] binarykitchen opened #269 "Weird core dump on Ubuntu 15.10"
See https://github.com/nodejs/node/issues/6036 which has all the details. The core dump tells me that it comes from leveldown. So, reporting it here.

My node.js app crashes with this output in the command line:

[code]

Using version "1.4.4" of leveldown.

Here a long copy of the first interesting lines of that core dump:

[code]

Any clues what this could be?

[2016-04-06 09:53] binarykitchen commented on #269
Btw, I am loading leveldown through level-party's latest version 3.0.4 ...

[2016-04-06 10:01] ralphtheninja commented on #269
@binarykitchen Can you reproduce this or does it happen randomly?

[2016-04-06 10:40] binarykitchen commented on #269
Happens always in when I run the app in my private repo.

[2016-04-06 12:39] ralphtheninja commented on #269
@binarykitchen It would help a great deal if you could compile the leveldown binaries in debug mode, e.g. `node-gyp rebuild --debug`, so we can get more information from the core dump

[2016-04-07 07:04] binarykitchen commented on #269
@ralphtheninja hmmm, i tried but am having issues. let me write down the steps i did:

1. `npm i -g node-gyp` installed the latest, 3.3.1
2. in my add, cd'd to ./node_modules/leveldown
3. called `node-gyp configure`
4. then `node-gyp rebuild --debug`
5. then back in the root folder, started the app with `gulp watch`
6. another node module crashed with

[code]

but i didn't touch sharp at all. how

[2016-04-07 07:53] ralphtheninja commented on #269
Umm odd, I have no idea why sharp would be rebuild by node-gyp in this case.

[2016-04-07 07:55] binarykitchen commented on #269
@ralphtheninja yep, very odd. And if you look at the core dump https://gist.github.com/binarykitchen/9ac53ad6810e1a2c23e8d636422f59e9 you can see the backtrace goes from `leveldown.node` to `libXdmcp.so.6.0.0` and further down you see `libvips-cpp.so.42.3.3` which is installed by sharp. Something does not look good here.

[2016-04-07 23:12] chjj opened #272 "Reproducable iterator memory leak"
I was finally able to reproduce an iterator memory leak. It leaks roughly 1-2mb per the call you see below.

No idea why. It loops 10000 times each time, but it's done in serial. I'm also using my own branch which frees up snapshots properly. I can't see what might be causing this anymore.

Luckily it doesn't seem to be leaking on the JS heap, only in C++ land.

I replicated my database almost exa

[2016-04-08 00:05] chjj commented on #272
With the help of valgrind, I narrowed the leak down to iterator::new. It looks like `LD_STRING_OR_BUFFER_TO_SLICE` + the option parsing are the culprits here. It's allocating two strings: one with `new char[]` and one with `new std::string()`. The `new char[]` string allocated by LD_STRING_OR_BUFFER_TO_SLICE is never freed up.

This simple fix plugs the leak:

[code]

[2016-04-08 01:37] dominictarr commented on #272
I applied your patch and ran it, I still see the native-heap output increasing, but half as quickly.

without patch:
[code]

WITH patch

[code]

is that what you expected this to show, @chjj ?

[2016-04-08 01:38] chjj commented on #272
@dominictarr, you memory is likely still increasing because you're not freeing the snapshots. Try applying [this](https://github.com/Level/leveldown/pull/267) patch as well.

[2016-04-08 01:42] chjj commented on #272
Anyway, I figured out what's going on. In the iterator options parsing, `new std::string(slice.data(), slice.size())` will copy the data of the string allocated by LD_STRING_OR_BUFFER_TO_SLICE, whereas `new leveldb::slice(slice.data(), slice.size())` will not. So leveldb::slice still needs access to the originally allocated string. Now we have two strings on the heap. Only the std::string is getti

[2016-04-08 01:47] dominictarr commented on #272
@chjj that is much better, now I get:
[code]

[2016-04-08 01:50] chjj commented on #272
@dominictarr, yep, but the patch I posted above will actually break things. I have a better patch coming.

[2016-04-08 01:57] dominictarr commented on #272
@chjj looking forward to it!

[2016-04-11 09:31] madbence opened #273 "LevelDB read performance degradation"
i'm not sure if my issue is related to `leveldown` or not, but right now i don't have any ideas. i'm experiencing heavy performance degradation after a huge amount of writes/deletes. The db seems to be huge:

[code]

But the db is totally empty. Also it takes 30s to finish scanning.

[code]

I've tried to run `leveldown.repair`, but the numbers are roughly the same:

[code]

I've tried to inspect

[2016-04-11 09:34] juliangruber commented on #273
if it takes 30s to finish scanning your db isn't _totally_ empty. if you estimate the size in bites of the data actually stored, what do you come up with?

[2016-04-11 09:42] madbence commented on #273
the keys begin with numbers, so i guess this should cover the whole domain of my keys:

[code]

[2016-04-11 10:26] juliangruber commented on #273
that's 2,4GB, but keep in mind `.approximateSize` estimates the actual file system size, not the size of the data that you're storing.

[2016-04-11 11:07] madbence commented on #273
How should i inspect the data then? `db.createKeyStream` finished without emitting any `data`...

[2016-04-11 11:56] juliangruber commented on #273
ah, I misread your example. hm yeah the db is big then, but my guess is that compaction will eventually get rid of the unused files.

you described first that actually performance is your problem, not file size. can you share some benchmark results?

[2016-04-11 16:24] madbence commented on #273
i've created an example to demonstrate this behavior. The numbers are amplified, in reality it takes a few days for the db to grow, but the same behavior is observable with this example.

it writes 1M ~2KB records, then reads them back, deletes them, sleeps for a few seconds, reads the db again (the db is empty in this case), then goes back to step one.

[code]

Output:

[code]

as you can see, de

[2016-04-11 20:06] madbence commented on #273
google/leveldb#164 might be related

[2016-04-13 09:34] madbence commented on #273
ping @juliangruber, any ideas?

[2016-04-13 11:25] juliangruber commented on #273
@dominictarr and @maxogden

[2016-04-17 14:29] #272 closed

[2016-04-19 10:28] madbence commented on #273
ping @dominictarr and @maxogden again, sorry for the disturbance... the code above btw works with any number (eg. 1K records instead of 1M), the db still grows constantly.

[2016-04-19 13:23] frankrousseau opened #276 "Package doesn't work with Debian Wheezy"
Hi Level team,

  I just would like to notifiy you that Leveldown can no more be deployed on Debian 7 Wheezy (since the 1.4.5 version, it requires a too high version of libc). It's no more compatible with our setup. It's not a big deal because, at Cozy, we are migrating to Debian 8. But it may be a problem for other organizations. That's why I wanted to tell you about that.

Btw, thank you for tha

[2016-04-19 13:31] ralphtheninja commented on #276
@frankrousseau Thanks for noticing this. We will rebuild them on an older version of libc.

[2016-04-19 13:32] ralphtheninja commented on #276
@frankrousseau Is that for 64 bit I guess?

[2016-04-19 13:34] ralphtheninja commented on #276
@frankrousseau Mind trying again? @mafintosh just rebuilt them

[2016-04-19 14:24] frankrousseau commented on #276
Sorry, but the problem is still here:

[code]

When I run `dpkg -l`:

[code]

[2016-04-19 19:30] mafintosh commented on #276
@frankrousseau you need to delete your local cache as well before re-installing, ~/.npm/_prebuilds/

[2016-04-24 19:36] benjaminettori opened #277 "Problem installing leveldown as dependency"
Hi

the project I'm working on has level listed as a dependency, and npm install will fail when attempting to install leveldown, with the following log. Could you please give me a sense of what is wrong here?

Thanks in advance.

[code]

[2016-04-24 23:05] ralphtheninja commented on #277
@benjaminettori Could you do `npm install --verbose` and copy the output of that command into a [gist](https://gist.github.com/)?

[2016-04-25 11:49] benjaminettori commented on #277
Hi

I solved this issue by installing Python v 2.7 instead of the v 3.5 version. One if the leveldown dependencies, node-gyp, is apparently not compatible with Python versions > 3.0.

[2016-04-25 11:49] #277 closed

[2016-04-25 16:05] ralphtheninja commented on #277
:+1: Happy it worked out for you!

[2016-04-25 19:02] cdaringe opened #278 "incorrect prebuilt binary being installed for current node version"
hi all:

i'm rebuilding `leveldown` for `electron`.  when i run `npm i` or `npm rebuild` using the `electron` node process, my _system node_ version is being used to build, not the version from the process actively running the rebuild or install command (i.e., my electron's node)

this is pretty easy to see.

[code]

[code]

great.  so, my sys version is node 4.x/module:46, and my electron version

[2016-04-25 19:07] cdaringe commented on #278
full disclosure, i had issues with `electron-rebuild`, so i forked off and created [ionizer](https://www.npmjs.com/package/ionizer).  one of the reasons to do so was because the `rebuild` processes weren't run with the electron node, and some packages' rebuild scripts checked `process.versions` etc to do rebuilds, which consequently ended up never rebuilding with the target `node` version.

[2016-04-26 06:46] ralphtheninja commented on #278
I'm wondering if it's a problem related to prebuilds [hash bang](https://github.com/mafintosh/prebuild/blob/master/bin.js#L1)

cc @mafintosh

[2016-04-26 14:28] cdaringe commented on #278
@ralphtheninja. good thought.  The above cmd fails, as explained, but so does the ionizer command.  The reason I'm skeptical about the hash being the root cause is because ionizer uses https://github.com/cdaringe/squish-squash, so I have high confidence that the right node would be used.  I'll write a test over in that repo to test your suggestion!

[2016-04-26 14:42] ralphtheninja commented on #278
Cool!

[2016-04-26 15:18] julien-f commented on #276
I still have the error, even after deleting `~/.npm/` and `/tmp/npm-*`.

[2016-04-26 15:28] frankrousseau commented on #276
It was the same last time I tried.

[2016-04-26 20:23] capaj opened #279 "prebuild --install fails on Node 6"
see https://api.travis-ci.org/jobs/125934637/log.txt?deansi=true

[2016-04-27 05:25] cdaringe commented on #278
well, i wrote [the test](https://github.com/cdaringe/squish-squash/blob/master/test/index.js#L73).  i regret to inform that `#!` still does honor the squashed version of node.  bummer.

so, still seeking tips!  thx.

[2016-04-27 08:48] ralphtheninja commented on #279
From the log output you just linked

[2016-04-27 08:50] ralphtheninja commented on #279
Just updated leveldown on travis to use node 6 and it builds fine https://github.com/Level/leveldown/pull/280, you can take a peek at leveldowns .travis.yml file here https://github.com/Level/leveldown/blob/master/.travis.yml#L5-L13 on how to use C++11

[2016-04-27 08:50] #279 closed

[2016-04-27 11:32] capaj commented on #279
@ralphtheninja thanks, did not realize travis needed this. Now builds just fine.

[2016-04-27 14:59] ralphtheninja commented on #279
:+1:

[2016-04-27 23:02] HumanSprout opened #281 "prebuild --install fails on my system"
failed installing levelmeup

    npm ERR! leveldown@1.4.5 install: 'prebuild --install'
    npm ERR!  Exit status 2
    npm ERR!
    npm ERR! Failed at the leveldown@1.4.5 install script 'prebuild --install'.

node v4.4.0 npm v2.14.20

[2016-04-28 09:51] ralphtheninja commented on #281
@HumanSprout Mind doing `npm install --verbose` and put the output in a gist?

[2016-04-29 07:39] simon300000 opened #282 "v8::ObjectTemplate::Set() with non-primitive values is deprecated"
[code]

Found it when I update to node v6.0.0

[code]

[code]

[code]

[2016-04-29 16:59] HumanSprout commented on #281
Thanks for the quick response, here it is

https://gist.github.com/HumanSprout/0db6400f3a6d38ea52bfe5040e4cc1a1

On Thu, Apr 28, 2016 at 5:51 AM, Lars-Magnus Skog <notifications@github.com>
wrote:

[2016-04-29 18:27] juliangruber commented on #281
the error happens because you run `npm install --verbose` from your home directory, try doing that inside you application's directory and post the results again

[2016-04-29 18:30] juliangruber commented on #278
@cdaringe try running the script via `node script.js` instead of `./script.js`

[2016-04-29 19:20] HumanSprout commented on #281
I see, the error was from trying to install levelup globally, thank you for
your time

On Fri, Apr 29, 2016 at 2:27 PM, Julian Gruber <notifications@github.com>
wrote:

[2016-04-29 19:31] cdaringe commented on #278
hey @juliangruber, apologies, can you specify further?  which do you mean?  thanks!

[2016-04-29 19:42] #281 closed

[2016-04-29 21:32] ralphtheninja commented on #282
Fixed [here](https://github.com/Level/leveldown/pull/280/commits/267586b02b51abf0783f82c1705b33553b682b6d), released in 1.4.6

[2016-04-29 21:32] #282 closed

[2016-04-29 22:53] gabrielcsapo opened #283 "prebuild fails on travis without g++ toolchain"
[code]

My `travis.yml` file before

[code]

The `travis.yml` that succeeds

[code]

I just took the build requirements from this repo's `travis.yml`, this wasn't required until the recent publish of `1.4.6`

[2016-04-29 22:57] ralphtheninja commented on #283
Yes it has been required for quite some time to use a C++11 compatible compiler for leveldown. The problem here is that there aren't any prebuilt binaries built for 1.4.6 yet.

[2016-04-29 22:57] #283 closed

[2016-04-29 23:00] gabrielcsapo commented on #283
@ralphtheninja thanks for the info.

[2016-04-29 23:20] DerpgonCz opened #284 "LevelDown fails to compile"
Travis build link: https://travis-ci.org/musiqpad/mqp-server/jobs/126787180

I am not really skilled in this kind of stuff, so sorry for not explaining much.

But the Travis builds fail and, on a Cloud9 (c9.io) machine (NodeJS v5.4.1), it goes through with a few errors

package.json dependencies:
[code]

[code]